<html>
<head>
    <title>Asure.io | Proof of Concept</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            height: auto;
            overflow: auto
        }
        .frame{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index: 0;
        }
        .button{
            position: absolute;
            right:30px;
            bottom:30px;
            z-index: 1;
        }
        .button img{
            width: 32px;
            height: 32px;
        }
    </style>
    <script>
        window.location = "https://ipfs.io/ipns/dapp.asure.io";

        function getDocHeight(doc) {
            doc = doc || document;
            // stackoverflow.com/questions/1145850/
            var body = doc.body, html = doc.documentElement;
            var height = Math.max( body.scrollHeight, body.offsetHeight,
                html.clientHeight, html.scrollHeight, html.offsetHeight );
            return height;
        }
        function resizeIframe() {
            var frame=document.getElementById("frame");
            frame.style.height = getDocHeight(window.document) + 'px';
        }
    </script>
</head>
<body onresize="resizeIframe()">
<a class="button" href="https://ipfs.io/ipns/dapp.asure.io">
    <img src="expand-button.png" />
</a>
<iframe id="frame" name="frame" class="frame" src="https://ipfs.io/ipns/dapp.asure.io"
        width="100%"
        frameborder="0"
        scrolling="no"
        seamless="seamless"
        onload="resizeIframe()"
></iframe>


</body>
</html>