<% include ../helpers.ejs %>
<div>

    <div class="blc-faq" id="faq">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="desc">
                        <h2>Proof of Concept</h2>

                        will be available here soon
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>