<div class="blc-about" id="about">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Über Asure</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    Asure ist eine offene, dezentrale, autonome Versicherungsplattform, die auf <b>Offenheit</b>, <b>Privatsphäre</b>
                    und <b>Fairness</b> basiert, von Blockchain-Innovationen angetrieben wird und Einzelpersonen,
                    Unternehmen und Regierungen in einer digitalen Welt zusammenbringt.
                </div>
            </div>
        </div>
        <div class="about">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-lightbulb"></i>
                        </div>

                        <div class="title">Was ist die Vision?</div>
                        <p>
                            Menschen auf der ganzen Welt genießen ihr Leben, ohne sich Gedanken über Risiken oder
                            Verluste zu machen.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="title">Wer steht hinter Asure?</div>
                        <p>
                            Das <a href="#team">Asure team</a> ist eine Gruppe von Versicherungs-, und
                            Technologie-Experten mit jahrzehntelanger Erfahrung. Wir haben erfolgreich an Projekten mit
                            der
                            Distributed-Ledger-Technologie gearbeitet und Projekte mit dem Schwerpunkt Künstliche
                            Intelligenz im Versicherungsbereich durchgeführt.
                        </p>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-rocket"></i>
                        </div>

                        <div class="title">Wofür die Asure Stiftung?</div>
                        <p>
                            Ziel der Stiftung ist es, die Entwicklung von Lösungen vorzustellen und zu unterstützen.
                            Deshalb betreibt die Stiftung aktive Forschung und wird ihre Ergebnisse mit der breiteren
                            Öffentlichkeit teilen, indem sie
                        </p>
                        <ul class="ul">
                            <li>Vorschlag von Spezifikationen (AIP)</li>
                            <li>Bereitstellung von Referenzimplementierungen</li>
                            <li>das zukünftige Wachstum der Asure-Plattform zu sichern.</li>
                        </ul>
                        <p>
                            Die Hauptforschungsgebiete sind die Sozialversicherungen und insbesondere die
                            umlagefinanzierten Sozialversicherungssysteme, die von Regierungen auf der ganzen Welt
                            genutzt werden.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-signal"></i>
                        </div>

                        <div class="title">Wie werden wir skalieren?</div>
                        <p>
                            Als ehemalige Business- und IT-Spezialisten haben wir Zugang zu Beratungsunternehmen, durch
                            die wir die Entwicklung in der frühen Projektphase beschleunigen.
                            Unser CEO Paul Mizel hat wertvolle Erfahrungen mit Teamaufbau-Strategien und Aktivitäten für
                            mehrere Kunden in Deutschland sowie in Kiew, Ukraine, gesammelt.
                        </p>
                        <p>
                            Wir werden zudem mit etablierten Unternehmen und internationalen Forschungseinrichtungen der
                            Versicherungsbranche zusammenarbeiten, um ein ganzes Ökosystem rund um die Asure Plattform
                            aufzubauen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>