<div class="blc-about" id="about">
    <div class="container">
        <div class="head">
            <div class="title">About the Asure ICO</div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    We create a utility token with a deflation mechanism as suggested by
                    <a href="https://vitalik.ca/general/2017/10/17/moe.html" target="_blank" rel="noopener">Vitalik
                        Buterin</a>.
                    Asure tokens can be used to purchase insurance services within the Asure ecosystem.
                    Once tokens have been used for a purchase, we will burn a percentage of these tokens (i.e.,
                    deflation)
                    to support the future value increase of the Asure token.
                    On the other side we use a ‘proof-of-stake’/‘proof-of-activity’ algorithm to compensate the
                    deflation
                    and create a lucrative economic platform.
                    Also, the Asure token (ticker symbol ASR) will be listed at token exchanges for trading.
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="about">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <img src="<%= fixUrl(current.path, 'content/img/benefit-1.svg') %>" alt="">
                        <div class="title">What is the Asure Platform?</div>
                        <p>The Asure Platform provides currencies, equities, commodities and other insurance assets and
                            instruments as standard ERC-20 tokens on the Ethereum blockchain.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <img src="<%= fixUrl(current.path, 'content/img/benefit-3.svg') %>" alt="">
                        <div class="title">What are ASR?</div>
                        <p>ASRs are tokens representing a traditional financial asset’s
                            value, denominated in Asure Platform Token - ASR (e.g. a ASR holds 1 EUR worth of
                            ASRs).</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <img src="<%= fixUrl(current.path, 'content/img/benefit-5.svg') %>" alt="">
                        <div class="title">What is DAIO?</div>
                        <p>DAIO is .</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <img src="<%= fixUrl(current.path, 'content/img/benefit-6.svg') %>" alt="">
                        <div class="title">How can I buy ASRs?</div>
                        <p>ASRs can be purchased from the DAIO using Asure Platform Token (ASR).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>