<section class="blc-feature">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Plattform</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        Die Asure-Plattform bietet eine solide Grundlage für ein breites Spektrum an
                        Versicherungslösungen und -produkten. Es ermöglicht Einzelpersonen, Unternehmen und Regierungen,
                        Lösungen zu entwickeln, zu betreiben und zu warten, die den Bedürfnissen der Kunden entsprechen.
                    </p>
                    <p>
                        Die Asure-Plattform ist Open-Source (MIT lizenziert) und die Entwicklung findet in der
                        Öffentlichkeit statt. Die Asure-Stiftung wird zusammen mit der Open-Source Gemeinschaft das
                        zukünftige Wachstum der Plattform sicherstellen. Deshalb spezifiziert die Asure Foundation
                        offene Standards (AIPs) innerhalb der Versicherungsbranche, die die Asure-Plattform und
                        Blockchain-Technologie nutzen, um den Übergang zu einer offenen und dezentralen
                        Versicherungsinfrastruktur der Zukunft zu ermöglichen.
                    </p>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <div class="title">Transparenz</div>
                        <div class="desc justify">
                            Daten rund um Produkte und Dienstleistungen werden offen zur Verfügung stehen, um
                            Community-Entwickler in die Plattformunterstützung und -entwicklung einzubinden. Außerdem
                            kann Asure leicht von der breiteren Community überprüft und erweitert werden, da alle
                            Spezifikationen und der Quellcode öffentlich verfügbar sind.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-hand-holding-usd"></i>
                            </div>
                        </div>
                        <div class="title">Kostenreduzierung</div>
                        <div class="desc justify">
                            Eine vollständige Versicherungsplattform mit fortschrittlichen, aber einfach zu bedienenden
                            Funktionen für die Teilnehmer, einschließlich Predictive Analytics, künstliche Intelligenz,
                            maschinelles Lernen und eine robuste, selbsttragende Ökonomie, basierend auf intelligenten
                            Verträgen, die den Verwaltungsaufwand um bis zu 98% reduzieren.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-magic"></i>
                            </div>
                        </div>
                        <div class="title">Flexibilität</div>
                        <div class="desc justify">
                            Wir glauben, dass Versicherungen ein grundlegendes Menschenrecht sind. Neue Produkte können
                            von und für jeden auf der ganzen Welt beigesteuert werden. In einem freien und
                            selbstregulierten Markt setzen sich die besten Dienstleistungen und Produkte durch.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>