<section class="blc-one bg-green mh750" id="one">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/blockchain.svg') %>" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 content-block">
                <h2 class="title">Blockchain-basierte smart contracts</h2>
                <p class="justify">
                    Um unser Versprechen der Offenheit über den Geschäftsbetrieb zu erfüllen, nutzt die Asure-Plattform
                    die Blockchain-Technologie. Die Geschäftslogik ist als intelligente Verträge implementiert und wird
                    innerhalb der öffentlichen Blockchain von <a href="https://www.ethereum.org/">Ethereum</a>
                    betrieben. Aufgrund der einzigartigen
                    Eigenschaften der Blockchain-Technologie kann die implementierte Geschäftslogik von der
                    Öffentlichkeit überprüft und verifiziert werden. Ein weiterer Vorteil ist, dass intelligente
                    Verträge manipulationssicher sind.
                </p>
            </div>
        </div>
    </div>
</section>