<section class="blc-zero bg-blue mh750" id="zero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-block">
                <h2 class="title">Kundenzentriert</h2>
                <p class="justify">
                    Das Verstehen und Vergleichen verschiedener Versicherungsarten und deren Details kann kompliziert
                    und zeitaufwendig sein. Bei Asure machen wir es Ihnen leicht, Versicherungsprodukte zu verstehen.
                    Dies wird durch eine Kombination verschiedener interaktiver Datenexplorations- und
                    Visualisierungstechniken, Produktrechner und Chatbots mit künstlicher Intelligenz erreicht.
                </p>
            </div>
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/customer-centric.svg') %>" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>