<section class="blc-three bg-green mh750" id="three">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/platform.svg') %>" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 content-block">
                <h2 class="title">Asure Ökonomie</h2>
                <p class="justify">
                    Asure bietet ein Belohnungssystem an, das es seinen Nutzern ermöglicht, durch einen Beitrag zur
                    Plattform Gewinne zu erzielen.

                    Die Asure Ökonomie unterstützt zwei grundlegende Arten von
                    Belohnungen. Ein Proof-of-stake und ein Proof-of-activity, der aktive Teilnehmer belohnt.
                </p>
                <ul>
                    <li>
                        Nutzer der Asure-Plattform können ihre Freunde einladen und eine Belohnung erhalten.
                    </li>
                    <li>
                        Investoren können Risiken anderer im Rahmen unseres Rückversicherungssystems kaufen und erhalten
                        eine Rendite für das Eingehen von Risiken.
                    </li>
                    <li>
                        Asure Plattform ist Open-Source und wird in der Öffentlichkeit entwickelt. Jeder kann helfen,
                        sie zu verbessern, was auch belohnt wird.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>