<section class="blc-two bg-blue mh750" id="two">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-block">
                <h2 class="title">Automatisierung</h2>
                <p class="justify">
                    Bei Asure arbeiten wir auf eine selbstregulierende und völlig autonome Plattform hin. Möglich wird
                    dies durch den Einsatz neuester Technologien wie IoT, Big Data, Artificial Intelligence und vieles
                    mehr.

                    Im Folgenden finden Sie einige Schwerpunkte:
                </p>
                <ul>
                    <li>
                        Big Data und Predictive Analytics für das Produkt- und Risikomanagement.
                    </li>
                    <li>
                        Künstliche Intelligenz und maschinelles Lernen zur Automatisierung und Selbstregulierung.
                    </li>
                    <li>
                        Automatisierte Validierung, Schadenbearbeitung, Chatbots und autonome Agenten.
                    </li>
                    <li>
                        Ein erhöhter Grad an künstlicher Intelligenz und KI-Algorithmen sorgen für Eigenständigkeit im
                        Betrieb und Wertschöpfung auf der Plattform.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/automation.svg') %>" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>