<div class="blc-graph" id="graph">
    <div class="container">
        <div class="head">
            <h1 class="title h2">
                Use of Proceeds
            </h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    We envision that ETH derived from the sale of Asure utility tokens ("ASR") will be allocated in the
                    following manner.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-responsive dist">
                    <tr>
                        <td class="bg-color1" style="width: 65%;">60%</td>
                        <td class="bg-color2" style="width: 10%;">10%</td>
                        <td class="bg-color3" style="width: 5%;">5%</td>
                        <td class="bg-color4" style="width: 3%;">3%</td>
                        <td class="bg-color5" style="width: 2%;">2%</td>
                        <td class="bg-color6" style="width: 2%;">2%</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row item">
                    <div class="col-md-5">
                        <div class="name">Platform Development</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">55%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 55%;"></div>
                        </div>
                    </div>

                </div>
                <div class="row item legal">
                    <div class="col-md-5">
                        <div class="name">Legal</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">15%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 15%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row item marketing">
                    <div class="col-md-5">
                        <div class="name">Marketing</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">15%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 15%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row item tax">
                    <div class="col-md-5">
                        <div class="name">Tax</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">10%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 10%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row item office">
                    <div class="col-md-5">
                        <div class="name">Office Expenses</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">5%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 5%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>