<div class="blc-faq" id="faq">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="desc">
                    <h2>Imprint</h2>

                    Verantwortlich gemäß § 55 Abs. 2 RStV: <br/><br/>

                    Asure<br/>
                    Paul Mizel <br/>
                    Elverdinckweg 14<br/>
                    44309 Dortmund<br/>

                    <br/>Webseite : https://asure.io <br/>

                    <br/><br/><h4>Keine Anlageberatung</h4>
                    Die Webseiteninhalte dienen ausschliesslich der Information und stellen
                    keine Beratung hinsichtlich Anlage bzw. keine Empfehlung im Sinne des Wertpapierhandelsgesetzes
                    (WpHG) dar. Wir geben hierbei unsere persönliche subjektive Meinung wieder.
                    <br/><br/>
                    Alle Leser sind dazu angehalten sich ihre eigene Meinung zu bilden und sich professionellen Rat
                    einzuholen bevor sie konkrete Entscheidungen treffen.

                    <br/><br/><h4>RECHTLICHE HINWEISE</h4>
                    Alle auf unseren Internetseiten veröffentlichten Angaben und Informationen wurden gewissenhaft
                    recherchiert und geprüft.
                    Trotz aller Sorgfalt können wir für die Richtigkeit, Vollständigkeit und Aktualität der zur
                    Verfügung gestellten Informationen
                    keine Garantie oder Haftung übernehmen, da sich die Daten mittlerweile geändert haben können. Dies
                    gilt auch für externe Internetseiten,
                    auf die mithilfe eines Hyperlinks hingewiesen wird. Für die Inhalte dieser aufgrund einer Verlinkung
                    erreichten Seiten übernehmen wir
                    keine Verantwortung. Alle Inhalte und Gestaltungen der Internetseiten von Asure sind
                    urheberrechtlich geschützt.
                    Eine Vervielfältigung dieser Seiten oder Inhalte bedarf einer vorherigen schriftlichen Zustimmung
                    von Asure.
                    <br/><br/><h4>HAFTUNG FÜR INHALTE</h4>
                    Alle Inhalte unserer Internetseite wurden mit größter Sorgfalt und Gewissenhaftigkeit erstellt.
                    Asure übernimmt jedoch keine
                    Gewähr für Richtigkeit, Vollständigkeit und Aktualität der Inhalte.
                    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
                    allgemeinen Gesetzen verantwortlich.
                    Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
                    gespeicherte fremde
                    Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit
                    hinweisen.
                    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
                    Gesetzen bleiben hiervon unberührt.
                    Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
                    Rechtsverletzung möglich.
                    Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diesbezügliche Inhalte umgehend
                    entfernen.
                    <br/><br/><h4>URHEBERRECHT</h4>
                    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
                    deutschen Urheberrecht.
                    Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
                    Urheberrechtes
                    bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
                    Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
                    Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
                    Dritter beachtet.
                    Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
                    Urheberrechtsverletzung
                    aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
                    Rechtsverletzungen erden wir diesbezügliche
                    Inhalte umgehend entfernen.

                    <br/><br/><h4>SOCIAL MEDIA</h4>
                    Dieses Impressum gilt auch für folgende Social Media Auftritte:<br/>

                    <br/>Twitter: https://twitter.com/Asure_io
                    <br/>Facebook: https://www.facebook.com/asure.io
                    <br/>LinkedIn: https://www.linkedin.com/company/asure
                    <br/>Xing: https://www.xing.com/companies/asureteam
                    <br/>Instagram: https://www.instagram.com/asure.io/
                    <br/>GitHub: https://github.com/AsureFoundation/


                </div>
            </div>
        </div>
    </div>
</div>