<div class="blc-graph" id="graph">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center">Terms of Service &amp; Privacy Policy</h1>

                <h2>TERMS OF SERVICE</h2>

                <b>Date Posted: 15 January 2018</b><br/>
                <b>Last Updated (effective date): 15 January 2018</b><br/><br/>

                <p>Welcome, and thank you for visiting the Asure website (the “Asure Site”). Asure&nbsp;Foundation&nbsp;(“Organisation“,
                    “we”, “us” or “our”) provides the Asure Site, reference Asure clients (“Apps”) for Windows, Mac,
                    iOS, Android, browser extensions or otherwise, Ethereum smart contracts that implement Asure’s (ASR)
                    token sale and the smart contracts that implement the Asure platform related to the Asure
                    Foundation, a&nbsp;decentralized, blockchain-based, automated insurance organisation implemented in
                    Ethereum smart contracts&nbsp;(together, the “Asure Products”) to you subject to the following terms
                    of service (“Terms”). The Asure Products are offered to you conditioned on your acceptance, without
                    modification, of the Terms; if you do not agree to the Terms, you may not use the Asure Products.
                    Your use of the Asure Products constitutes your agreement to all such Terms. Please read these Terms
                    carefully, retain a copy of them for your reference, and if you have any questions about these Terms
                    please contact us&nbsp;at community@asure.io prior to using the Asure Products.</p>

                <p>We are frequently modifying, updating, expanding, and improving the Asure Products. We reserve
                    the right, subject to applicable law, to make changes, modify, or add or remove portions of these
                    Terms, our Privacy Policy, the Terms of Token Sale, Asure tokens (“ASR”) and other
                    incorporated terms and policies at any time, in our sole discretion. Nonetheless, we encourage you
                    to check the Asure Site frequently to view the current Terms in effect and any changes that may
                    have been made to them. If we make material changes to these Terms, we will post the revised Terms
                    and the revised effective date on the Asure Site. Your continued use of the Asure Products
                    after the date of any such changes become effective constitutes your acceptance of the new Terms. No
                    one at Organisation is authorized to modify these Terms with you or otherwise enter into an
                    agreement
                    with you that conflicts with these Terms, except by means of written agreement signed by an
                    authorized agent of Organisation, and any other purported modifications or alterations or
                    conflicting
                    terms will be null and void.</p>

                <p>PLEASE READ THESE TERMS CAREFULLY, AS THEY CONTAIN AN AGREEMENT TO ARBITRATE AND OTHER IMPORTANT
                    INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES, AND OBLIGATIONS. &nbsp;THE AGREEMENT TO ARBITRATE
                    REQUIRES (WITH LIMITED EXCEPTION) THAT YOU SUBMIT CLAIMS YOU HAVE AGAINST US TO BINDING AND FINAL
                    ARBITRATION, AND FURTHER (1) YOU WILL ONLY BE PERMITTED TO PURSUE CLAIMS AGAINST COMPANY ON AN
                    INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY CLASS OR REPRESENTATIVE ACTION OR
                    PROCEEDING, AND (2) YOU WILL ONLY BE PERMITTED TO SEEK RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND
                    DECLARATORY RELIEF) ON AN INDIVIDUAL BASIS.</p>

                <h5>Terms of Token Sale</h5>

                <p>When you open an account with Organisation, purchase ASR, or engage in any other transaction with
                    Organisation,
                    you also will be subject to the Terms of Token Sale and/or other similar agreements governing your
                    use of our services. In the case of any conflict between the Terms and the Terms of Token Sale, the
                    provisions of the Terms of Token Sale will prevail.</p>

                <h5>Electronic Communications</h5>

                <p>Visiting or using the Asure Products or sending emails to Organisation constitute electronic
                    communications. By visiting the Asure Site, using the Asure Products, or sending emails to
                    Organisation, you consent to receive electronic communications and you agree that all agreements,
                    notices, disclosures and other communications that we provide to you electronically, via email or on
                    the Asure Products, satisfy any legal requirement that such communications be in writing.</p>

                <h5>Your Account</h5>

                <p>If you use this site, you are responsible for maintaining the confidentiality of your account and
                    password and for restricting access to your computer, and you agree to accept responsibility for all
                    activities that occur under your account or password. You may not assign or otherwise transfer your
                    account to any other person or entity. You acknowledge that Organisation is not responsible for
                    third
                    party access to your account that results from theft or misappropriation of your account.
                    Organisation
                    and its associates reserve the right, in our sole discretion, to refuse or cancel service, terminate
                    accounts, or remove or edit content. You are responsible for maintaining the confidentiality of your
                    password and account, if any, and are fully responsible for any and all activities that occur under
                    your password or account. You agree to (a) immediately notify us of any unauthorized use of your
                    password or account or any other breach of security, and (b) ensure that you exit from your account
                    at the end of each session when accessing the Asure Products. We will not be liable for any loss
                    or damage arising from your failure to comply with this Section.</p>

                <p>Organisation does not knowingly collect, either online or offline, personal information from persons
                    under
                    the age of eighteen. If you are under 18, you may not use the Asure Products and may not enter
                    into a Terms of Token Sale under any circumstances.</p>

                <p>You acknowledge that we may establish general practices and limits concerning use of the Asure
                    Products, including without limitation the maximum period of time that data or other content will be
                    retained by the Asure Products and the maximum storage space that will be allotted on Organisation’s
                    servers on your behalf. You agree that we have no responsibility or liability for the deletion or
                    failure to store any data or other content maintained or uploaded by the Asure Products. You
                    acknowledge that we reserve the right to terminate accounts that are inactive for an extended period
                    of time. You further acknowledge that we reserve the right to change these general practices and
                    limits at any time, in its sole discretion, with or without notice.</p>

                <h5>Mobile Services</h5>

                <p>The Asure Products include certain services that are available via a mobile device, including the
                    ability to browse the Asure Products and the Asure Site from a mobile device. To the extent
                    you access the Asure Products through a mobile device, your wireless service carrier’s standard
                    charges, data rates and other fees may apply. &nbsp;In addition, downloading, installing, or using
                    certain Mobile Services may be prohibited or restricted by your carrier, and not all Mobile Services
                    may work with all carriers or devices.</p>

                <h5>Third Party Services</h5>

                <p>The Asure Products may contain links to other websites (“Linked Sites”). The Linked Sites are not
                    under the control of Organisation and Organisation is not responsible for the contents of any Linked
                    Site,
                    including without limitation any link contained in a Linked Site, or any changes or updates to a
                    Linked Site. Organisation is providing these links to you only as a convenience, and the inclusion
                    of any
                    link does not imply endorsement by Organisation of the site or any association with its operators.
                    You
                    agree that you must evaluate, and bear all risks associated with, the use of any content, including
                    any reliance on the accuracy, completeness, or usefulness of such content.</p>

                <p>Certain services made available via the Asure Products are delivered by third party sites and
                    organizations. By using any product, service or functionality originating from the Asure
                    Products domain, you hereby acknowledge and consent that Organisation may share such information and
                    data
                    with any third party with whom Organisation has a contractual relationship to provide the requested
                    product, service or functionality on behalf of Asure Products users and customers.</p>

                <h5>Prohibited Uses and Intellectual Property</h5>

                <p>You are granted a non-exclusive, non-sublicenseable, non-transferable, revocable license to access
                    and use the Asure Products strictly in accordance with these Terms. As a condition of your use
                    of the Asure Products, you warrant to Organisation that you will not use the Asure Products for
                    any purpose that is unlawful or prohibited by these Terms. You may not use the Asure Products in
                    any manner that could damage, disable, overburden, or impair the Asure Products or interfere
                    with any other party’s use and enjoyment of the Asure Products. You may not obtain or attempt to
                    obtain any materials or information through any means not intentionally made available or provided
                    for through the Asure Products.</p>

                <p>All content included on the Asure Products, except for Submissions (as defined below), such as
                    text, graphics, logos, images, as well as the compilation thereof, and any software (including in
                    both object code and source code form) or other proprietary data or information used in connection
                    with the Asure Products (collectively, “Asure Content”), is the property of Organisation or its
                    suppliers or licensors and is protected by copyright, trademark and other laws that protect
                    intellectual property and proprietary rights. You agree to observe and abide by all copyright and
                    other proprietary notices, legends or other restrictions contained in any such content and will not
                    make any changes thereto.</p>

                <p>You will only use Asure Product in accordance with the terms of the license under which they are
                    granted. &nbsp;Further, you shall not in any way attack, exploit, or undermine any of the Asure
                    Products, including any Organisation Content, in whole or in part. Your use of the Asure Products
                    does not entitle you to make any unauthorized use of any Organisation Content, and in particular you
                    will
                    not delete or alter any proprietary rights or attribution notices in any Organisation Content. You
                    will
                    make no other use of Organisation Content without the express written permission of Organisation and
                    the
                    copyright owner. You agree that you do not acquire any ownership rights in any Organisation Content.
                    We
                    do not grant you any licenses, express or implied, to the intellectual property of Organisation or
                    our
                    licensors except as expressly authorized by these Terms&nbsp;or the applicable terms of a license
                    specifically governing use of a Asure Product, typically as included in the applicable LICENSE
                    file(s) included in software updates or releases. If you are blocked by us from accessing the
                    Asure Products (including by blocking your IP address), you agree not to implement any measures
                    to circumvent such blocking (e.g., by masking your IP address or using a proxy IP address).&nbsp;
                    You represent and warrant that any information you submit in connection with the Asure Products,
                    including any Submissions, is and will at all times be truthful and accurate, and that your use of
                    the Asure Products does not violate any applicable law.</p>

                <h5>Communication Services</h5>

                <p>The Asure Products or related third party services may contain certain message or communication
                    capabilities designed to enable you to communicate in connection with the Asure Products
                    (collectively, “Communication Services”). You agree to use the Communication Services only to post,
                    send and receive messages and material that are proper and related to the particular Communication
                    Service.</p>

                <p>By way of example, and not as a limitation, you agree that when using a Communication Service, you
                    will not: defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as
                    rights of privacy and publicity) of others; publish, post, upload, distribute or disseminate any
                    inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material
                    or information; upload files that contain software or other material protected by intellectual
                    property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or
                    have received all necessary consents; upload any content that infringes any intellectual property or
                    other proprietary rights of any party; upload or transmit any files with the intent (in
                    Organisation’s
                    sole discretion) of damaging the Asure Products or the operation of another’s computer; upload
                    any content that creates or poses a privacy or security risk to any person; upload any content that
                    constitutes unsolicited or unauthorized advertising, promotional materials, commercial activities
                    and/or sales, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” “contests,” “sweepstakes,” or
                    any other form of solicitation; upload any content that is unlawful, harmful, threatening, abusive,
                    harassing, tortious, excessively violent, defamatory, vulgar, obscene, pornographic, libelous,
                    invasive of another’s privacy, hateful racially, ethnically or otherwise objectionable; advertise or
                    offer to sell or buy any goods or services for any business purpose, unless such Communication
                    Service specifically allows such messages; conduct or forward surveys, contests, pyramid schemes or
                    chain letters; download any file posted by another user of a Communication Service that you know, or
                    reasonably should know, cannot be legally distributed in such manner; interfere with or disrupt the
                    Asure Products or servers or networks connected to the Asure Products, or disobey any
                    requirements, procedures, policies or regulations of networks connected to the Service; impersonate
                    any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or
                    entity; solicit personal information from anyone under the age of 18; further or promote any
                    criminal activity or enterprise or provide instructional information about illegal activities;
                    falsify or delete any author attributions, legal or other proper notices or proprietary designations
                    or labels of the origin or source of software or other material contained in a file that is
                    uploaded, restrict or inhibit any other user from using and enjoying the Communication Services;
                    violate any code of conduct or other guidelines which may be applicable for any particular
                    Communication Service; harvest or otherwise collect information about others, including e-mail
                    addresses, without their consent; violate any applicable laws or regulations.</p>

                <p>Organisation has no obligation to monitor the Communication Services. However, Organisation reserves
                    the right
                    to review materials posted to a Communication Service and to remove any materials in its sole
                    discretion. Organisation reserves the right to terminate your access to any or all of the
                    Communication
                    Services at any time without notice for any reason whatsoever.</p>

                <p>Organisation reserves the right at all times to disclose any information as necessary to satisfy any
                    applicable law, regulation, legal process or governmental, or to edit, refuse to post or to remove
                    any information or materials, in whole or in part, in Organisation’s sole discretion.</p>

                <p>Always use caution when giving out any personally identifying information about yourself or your
                    children in any Communication Service. Organisation does not control or endorse the content,
                    messages or
                    information found in any Communication Service and, therefore, Organisation specifically disclaims
                    any
                    liability with regard to the Communication Services and any actions resulting from your
                    participation in any Communication Service.</p>

                <p>Materials uploaded to a Communication Service may be subject to posted limitations on usage,
                    reproduction and/or dissemination. You are responsible for adhering to such limitations if you
                    upload the materials.</p>

                <h5>Special Notice for International Use; Export Controls</h5>

                <p>The technology and software underlying the Asure Products (“Software”) available in connection
                    with the Asure Products and the transmission of applicable data, if any, is subject to United
                    States export controls. &nbsp;No Software may be downloaded from the Asure Products or otherwise
                    exported or re-exported in violation of U.S. export laws. &nbsp;Downloading or using the Software is
                    at your sole risk. &nbsp;Recognizing the global nature of the Internet, you agree to comply with all
                    local rules and laws regarding your use of the Asure Products.</p>

                <h5>Submissions</h5>

                <p>You may post, upload, input or submit to any Asure Products or our associated services
                    (collectively “Submissions”). However, by posting, uploading, inputting, providing or submitting
                    your Submissions you are granting Organisation, our affiliated companies and necessary sublicensees
                    permission to use your Submissions in connection with the operation of their businesses including,
                    without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform,
                    reproduce, edit, translate and reformat your Submissions; and to publish your name in connection
                    with your Submissions.</p>

                <p>You may receive certain tokens in connection with your Submission or other participation with the
                    Asure Products, as specified on the Asure Site. &nbsp;Organisation disclaims any and all
                    liability in connection with the transfer of tokens in connection with your participation in the
                    Asure Products.</p>

                <p>By posting, uploading, inputting, providing or submitting your Submissions you warrant and represent
                    that you own or otherwise control all of the rights to your Submissions as described in this section
                    including, without limitation, all the rights necessary for you to provide, post, upload, input or
                    submit the Submissions. You are legally responsible for your Submissions on the Asure Products,
                    so for your own protection you should exercise caution and avoid contributing any content that may
                    result in criminal or civil liability under any applicable laws. For clarity, applicable law
                    includes at least the laws of the United States of America. Although we may not agree with such
                    actions, we warn editors and contributors that authorities may seek to apply other country laws to
                    you, including local laws where you live or where you view or edit content. We cannot offer any
                    protection, guarantee, immunity or indemnification in relation to such actions.</p>

                <p>Organisation has no control over the Submissions, and does&nbsp;not take any type of editorial role.
                    This
                    means that we generally do not monitor or edit the content of the Submissions, and we do not take
                    any responsibility for this content.&nbsp;Similarly, we do not endorse any opinions expressed via
                    our services, and we do not represent or guarantee the truthfulness, accuracy, or reliability of any
                    submitted community content. Instead, we simply provide access to the content that your fellow users
                    have contributed and edited.</p>

                <p>Because the Asure Products may contain a wide array of content that is produced or gathered by
                    fellow users, you may encounter material that you find offensive, erroneous, misleading, mislabeled,
                    or otherwise objectionable. We therefore ask that you use common sense and proper judgment when
                    using the Asure Products.</p>

                <p>You acknowledge and agree that we may preserve content and may also disclose content if required to
                    do so by law or in the good faith belief that such preservation or disclosure is reasonably
                    necessary to: (a) comply with legal process, applicable laws or government requests; (b) enforce
                    these Terms; (c) respond to claims that any content violates the rights of third parties; or (d)
                    protect the rights, property, or personal safety of Organisation, its users and the public. You
                    understand that the technical processing and transmission of the Asure Products, including your
                    content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt
                    to technical requirements of connecting networks or devices.</p>

                <h5>Third Party Accounts</h5>

                <p>We may permit you, from time to time, to connect your Asure account to third party accounts. By
                    connecting your Asure account to your third party account, you acknowledge and agree that you
                    are consenting to the continuous release of information about you to others (in accordance with your
                    privacy settings on those third party sites). If you do not want information about you to be shared
                    in this manner, do not use this feature.</p>

                <h5>International Users</h5>

                <p> You are responsible for compliance with all local laws, whether in the United States or in your
                    jurisdiction. You agree that you will not use the Organisation Content accessed through the Asure
                    Products in any country or in any manner prohibited by any applicable laws, restrictions or
                    regulations.</p>

                <h5>Indemnification</h5>

                <p>You agree to indemnify, defend and hold harmless Organisation, its officers, directors, employees,
                    agents,
                    consultants, subsidiaries, affiliates and other related parties (each an “Indemnified Party”, harm
                    from and against all demands losses, costs, liabilities claims, actions and expenses (including
                    reasonable attorneys’ fees) relating to or arising out of your use of or inability to use the
                    Asure Products or services,&nbsp;any of your Submissions or other information provided or
                    communications related to or in connection with the Asure Products, your violation of these
                    Terms or your violation of any rights of a third party, or your violation of any applicable laws,
                    rules or regulations. Organisation&nbsp;reserves the right, at its own cost, to assume the exclusive
                    defense and control of any matter otherwise subject to indemnification by you, in which event you
                    will fully cooperate with Organisation&nbsp;in asserting any available defenses. &nbsp;Notwithstanding
                    the foregoing, you will have no obligation to indemnify, defend or hold harmless any Indemnified
                    Party from or against any liability, damages or costs incurred as a result of the gross negligence
                    or willful misconduct of such Indemnified Party.</p>

                <p>IF YOU ARE A USER FROM NEW JERSEY, THE FOREGOING SECTION ENTITLED “INDEMNIFICATION” IS INTENDED TO BE
                    ONLY AS BROAD AS IS PERMITTED UNDER THE LAWS OF THE STATE OF NEW JERSEY. &nbsp;IF ANY PORTION OF
                    THIS SECTION IS HELD TO BE INVALID UNDER THE LAWS OF THE STATE OF NEW JERSEY, THE INVALIDITY OF SUCH
                    PORTION SHALL NOT AFFECT THE VALIDITY OF THE REMAINING PORTIONS OF THE APPLICABLE SECTION.</p>

                <h5>Disclaimers </h5>

                <p>YOUR USE OF THE POLYSWARM PRODUCTS IS AT YOUR SOLE RISK. THE INFORMATION, SOFTWARE, PRODUCTS, AND
                    SERVICES INCLUDED IN OR AVAILABLE THROUGH THE POLYSWARM PRODUCTS MAY INCLUDE INACCURACIES OR
                    TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. COMPANY AND/OR ITS
                    SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE COMPANY PRODUCTS AT ANY TIME.</p>

                <p>COMPANY AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY,
                    AVAILABILITY, TIMELINESS, SECURITY AND ACCURACY OF THE COMPANY PRODUCTS, INCLUDING THE INFORMATION,
                    SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED THEREIN, FOR ANY PURPOSE. TO THE MAXIMUM
                    EXTENT PERMITTED BY APPLICABLE LAW, THE POLYSWARM PRODUCTS AND ALL RELATED INFORMATION, SOFTWARE,
                    PRODUCTS, SERVICES AND GRAPHICS ARE PROVIDED “AS IS” WITHOUT WARRANTY OR CONDITION OF ANY KIND.
                    COMPANY AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE
                    POLYSWARM PRODUCT AND SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND GRAPHICS, INCLUDING ALL
                    IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND
                    NON-INFRINGEMENT. &nbsp;COMPANY CANNOT ENSURE THAT ANY FILES OR OTHER DATA YOU DOWNLOAD FROM THE AS
                    PART OF OR IN CONNECTION WITH THE POLYSWARM PRODUCTS WILL BE FREE OF VIRUSES OR CONTAMINATION OR
                    DESTRUCTIVE FEATURES, AND, IN PARTICULAR, YOU ACCEPT ALL RISK AND LIABILITY IN CONNECTION WITH YOUR
                    PARTICIPATION IN THE THREAT ANALYSIS PORTION OF THE POLYSWARM PRODUCTS.</p>

                <p>IF YOU ARE A USER FROM NEW JERSEY, THE FOREGOING SECTION ENTITLED “DISCLAIMERS” IS INTENDED TO BE
                    ONLY AS BROAD AS IS PERMITTED UNDER THE LAWS OF THE STATE OF NEW JERSEY. &nbsp;IF ANY PORTION OF
                    THIS SECTION IS HELD TO BE INVALID UNDER THE LAWS OF THE STATE OF NEW JERSEY, THE INVALIDITY OF SUCH
                    PORTION SHALL NOT AFFECT THE VALIDITY OF THE REMAINING PORTIONS OF THE APPLICABLE SECTION.</p>

                <h5>Limitation of Liability</h5>

                <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL COMPANY AND/OR ITS SUPPLIERS BE
                    LIABLE FOR (A) ANY INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES
                    WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF
                    OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE POLYSWARM PRODUCTS, WITH THE DELAY OR
                    INABILITY TO USE THE POLYSWARM PRODUCTS OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE
                    SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH
                    THE POLYSWARM PRODUCTS, OR OTHERWISE ARISING OUT OF THE USE OF THE POLYSWARM PRODUCTS, WHETHER BASED
                    ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF COMPANY OR ANY OF ITS
                    SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES; OR (B) ANY AMOUNT, WHETHER INDIVIDUALLY OR
                    IN THE AGGREGATE, EXCEEDING $25. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
                    LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY
                    TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE POLYSWARM PRODUCTS, YOUR SOLE AND EXCLUSIVE
                    REMEDY IS TO DISCONTINUE USING THE POLYSWARM SERVICES.</p>

                <p>IF YOU ARE A USER FROM NEW JERSEY, THE FOREGOING SECTION ENTITLED “LIMITATION OF LIABILITY” ARE
                    INTENDED TO BE ONLY AS BROAD AS IS PERMITTED UNDER THE LAWS OF THE STATE OF NEW JERSEY. &nbsp;IF ANY
                    PORTION OF THIS SECTION IS HELD TO BE INVALID UNDER THE LAWS OF THE STATE OF NEW JERSEY, THE
                    INVALIDITY OF SUCH PORTION SHALL NOT AFFECT THE VALIDITY OF THE REMAINING PORTIONS OF THE APPLICABLE
                    SECTION.</p>

                <p>USE OF THE POLYSWARM PRODUCTS IS UNAUTHORIZED IN ANY JURISDICTION THAT DOES NOT GIVE EFFECT TO ALL
                    PROVISIONS OF THESE TERMS, INCLUDING, WITHOUT LIMITATION, THIS SECTION.</p>

                <h5>Termination </h5>

                <p>Organisation&nbsp;reserves the right, in its sole discretion, to prohibit your access to and
                    participation
                    in the Asure Products and its related services or any portion thereof at any time and for any
                    reason, without notice.</p>

                <h5>Dispute Resolution by Binding Arbitration; Jury Trial Waiver; Class Action Waiver.</h5>

                <p>PLEASE READ THIS SECTION CAREFULLY AS IT AFFECTS YOUR RIGHTS.</p>

                <p>For any and all controversies, disputes, demands, claims, or causes of action between you and us
                    (including the interpretation and scope of this Section and the arbitrability of the controversy,
                    dispute, demand, claim, or cause of action) relating to the Asure Products or these Terms (as
                    well as any related or prior agreement that you may have had with us), you and we agree to resolve
                    any such controversy, dispute, demand, claim, or cause of action exclusively through binding and
                    confidential arbitration. A party who intends to seek arbitration must first send to the other, by
                    certified mail, a written Notice of Dispute (“Notice”). &nbsp;The Notice to Organisation should be
                    sent
                    to
                    Asure Foundation, Elverdinckweg 14, 44309 Dortmund, Germany

                    &nbsp;(“Notice
                    Address”). The Notice must (i) describe the nature and basis of the claim or dispute and (ii) set
                    forth the specific relief sought. &nbsp;If Organisation and you do not resolve the claim within
                    sixty
                    (60) calendar days after the Notice is received, you or Organisation may commence an arbitration
                    proceeding. During the arbitration, the amount of any settlement offer made by Organisation or you
                    shall
                    not be disclosed to the arbitrator until after the arbitrator determines the amount, if any, to
                    which you or Organisation is entitled. The arbitration will take place in the federal judicial
                    district
                    of the Dortmund, or if that is deemed inappropriate, the federal
                    judicial district of your residence. As used in this Section, “Organisation”, “we” and “us” mean the
                    Swarm&nbsp;Technologies Inc.&nbsp;In addition, “Organisation”, “we” and “us” include any third party
                    providing any product, service, or benefit in connection with the Asure Products or these Terms
                    (as well as any related or prior agreement that you may have had with us) if such third party is
                    named as a co-party with us in any controversy, dispute, demand, claim, or cause of action subject
                    to this Section.</p>

                <p>Arbitration will be subject to the Federal Arbitration Act and not any state arbitration law. The
                    arbitration will be conducted before one commercial arbitrator from the American Arbitration
                    Association (“AAA”) with substantial experience in resolving commercial contract disputes. As
                    modified by these Terms, and unless otherwise agreed upon by the parties in writing, the arbitration
                    will be governed by the AAA’s Commercial Arbitration Rules and, if the arbitrator deems them
                    applicable, the Supplementary Procedures for Consumer Related Disputes (collectively, the “Rules and
                    Procedures”). Where no claims or counterclaims exceed $10,000, the dispute will be resolved by the
                    submission of documents without a hearing, unless a hearing is requested by a party or deemed
                    necessary by the arbitrator, in which case, a party may elect to participate telephonically.</p>

                <p>You should review this provision carefully. To the extent permitted by applicable law, you are GIVING
                    UP YOUR RIGHT TO GO TO COURT to assert or defend your rights EXCEPT for matters that you file in
                    small claims court in the state or municipality of your residence within the jurisdictional limits
                    of the small claims court and as long as such matter is only pending in that court. Additionally,
                    notwithstanding this agreement to arbitrate, claims of defamation, and infringement or
                    misappropriation of the other party’s patent, copyright, trademark, or trade secret shall not be
                    subject to this arbitration agreement. Such claims shall be exclusively brought in the state or
                    federal courts located in the Dortmund. Additionally, notwithstanding this
                    agreement to arbitrate, you or us may seek emergency equitable relief before the state or federal
                    courts located in the Dortmund in order to maintain the status quo pending
                    arbitration and hereby agree to submit to the exclusive personal jurisdiction of the courts located
                    within the Dortmund for such purpose. A request for interim measures shall
                    not be deemed a waiver of the right to arbitrate.</p>

                <p>Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury. You are entitled to a
                    FAIR HEARING, BUT the arbitration procedures may be SIMPLER AND MORE LIMITED THAN RULES APPLICABLE
                    IN COURT. Arbitrators’ decisions are as enforceable as any court order and are subject to VERY
                    LIMITED REVIEW BY A COURT.</p>

                <p>You and we must abide by the following rules: (A) ANY CLAIMS BROUGHT BY YOU OR US MUST BE BROUGHT IN
                    THE PARTY’S INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
                    REPRESENTATIVE PROCEEDING; (B) THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS, MAY
                    NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS PROCEEDING, AND MAY NOT AWARD
                    CLASS-WIDE RELIEF; (c) in the event that you are able to demonstrate that the costs of arbitration
                    will be prohibitive as compared to the costs of litigation, we will pay as much of your filing and
                    hearing fees in connection with the arbitration as the arbitrator deems necessary to prevent the
                    arbitration from being cost- prohibitive as compared to the cost of litigation, (d) we also reserve
                    the right, in our sole and exclusive discretion, to assume responsibility for any or all of the
                    costs of the arbitration; (e) the arbitrator will honor claims of privilege and privacy recognized
                    at law; (f) the arbitration will be confidential, and neither you nor we may disclose the existence,
                    content, or results of any arbitration, except as may be required by applicable law or for purposes
                    of enforcement of the arbitration award; (g) subject to the limitation of liability provisions of
                    these Terms, the arbitrator may award any individual relief or individual remedies that are
                    expressly permitted by applicable law; and (h) you and we will pay our respective attorneys’ fees
                    and expenses, unless there is a statutory provision that requires the prevailing party to be paid
                    its fees and litigation expenses and the arbitrator awards such attorneys’ fees and expenses to the
                    prevailing party, and, in such instance, the fees and costs awarded will be determined by the
                    applicable law.</p>

                <p>Payment of all filing, administration, and arbitrator fees (collectively, the “Arbitration Fees”)
                    will be governed by the AAA Rules, unless otherwise provided in this Arbitration Agreement. &nbsp;If
                    the value of the relief sought is $75,000 or less, at your request, we will pay all Arbitration
                    Fees. &nbsp;If the value of relief sought is more than $75,000 and you are able to demonstrate to
                    the arbitrator that you are economically unable to pay your portion of the Arbitration Fees or if
                    the arbitrator otherwise determines for any reason that you should not be required to pay your
                    portion of the Arbitration Fees, we will pay your portion of such fees. &nbsp;In addition, if you
                    demonstrate to the arbitrator that the costs of arbitration will be prohibitive as compared to the
                    costs of litigation, Organisation will pay as much of the Arbitration Fees as the arbitrator deems
                    necessary to prevent the arbitration from being cost-prohibitive. &nbsp;Any payment of attorneys’
                    fees will be governed by the AAA Rules.</p>

                <p>All aspects of the arbitration proceeding, and any ruling, decision, or award by the arbitrator, will
                    be strictly confidential for the benefit of all parties.</p>

                <p>This Section will survive termination of your account and these Terms as well as any voluntary
                    payment of any debt in full by you or any bankruptcy by you or us. With the exception of subparts
                    (a) and (b) above of this Section (prohibiting arbitration on a class or collective basis), if any
                    part of this arbitration provision is deemed to be invalid, unenforceable, or illegal, or otherwise
                    conflicts with the Rules and Procedures, then the balance of this arbitration provision will remain
                    in effect and will be construed in accordance with its terms as if the invalid, unenforceable,
                    illegal or conflicting part was not contained herein. If, however, either subpart (a) or (b) above
                    of this Section is found to be invalid, unenforceable, or illegal, then the entirety of this
                    arbitration provision will be null and void, and neither you nor we will be entitled to arbitration.
                    If for any reason a claim proceeds in court rather than in arbitration, the dispute shall be
                    exclusively brought in state or federal court located in&nbsp;San Jose, California.</p>

                <p>Notwithstanding any provision in these Terms to the contrary, Organisation agrees that if it makes
                    any
                    future change to this arbitration section (other than a change to the Notice Address) while you are
                    a user of the Asure Products, you may reject any such change by sending us written notice within
                    thirty (30) calendar days of the change to the Notice Address provided above. &nbsp;By rejecting any
                    future change, you are agreeing that you will arbitrate any dispute between us in accordance with
                    the language of this arbitration section as of the date you first accepted these Terms (or accepted
                    any subsequent changes to these Terms).</p>

                <p>For more information on the AAA, the Rules and Procedures, or the process for filing an arbitration
                    claim, you may call the AAA at 888-778-7879 or visit the AAA website at http://www.adr.org.</p>

                <p>YOU AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ANY CLAIM OR CAUSE OF ACTION
                    ARISING OUT OF OR RELATING TO THE SERVICE OR THESE TERMS MUST BE FILED WITHIN ONE (1) YEAR AFTER
                    SUCH CLAIM OR CAUSE OF ACTION AROSE OR IT WILL BE FOREVER BARRED.</p>

                <h5>User Disputes</h5>

                <p>You agree that you are solely responsible for your interactions with any other user in connection
                    with the Asure Products and Organisation will have no liability or responsibility with respect
                    thereto. &nbsp;We reserve the right, but has no obligation, to become involved in any way with
                    disputes between you and any other user of the Asure Products.</p>

                <h5>General </h5>

                <p>These Terms will be governed by the laws of the State of Delaware&nbsp;without regard to its conflict
                    of law provisions. With respect to any disputes or claims not subject to arbitration, as set forth
                    above, you and Organisation agree to submit to the personal and exclusive jurisdiction of the state
                    and
                    federal courts located within San Jose, California. The failure of Organisation to exercise or
                    enforce
                    any right or provision of these Terms will not constitute a waiver of such right or provision. If
                    any provision of these Terms is found by a court of competent jurisdiction to be invalid, the
                    parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions
                    as reflected in the provision, and the other provisions of these Terms remain in full force and
                    effect. A printed version of this agreement and of any notice given in electronic form will be
                    admissible in judicial or administrative proceedings based upon or relating to this agreement to the
                    same extent and subject to the same conditions as other business documents and records originally
                    generated and maintained in printed form. You may not assign these Terms without the prior written
                    consent of Organisation, but Organisation may assign or transfer these Terms, in whole or in part,
                    without
                    restriction. The section titles in these Terms are for convenience only and have no legal or
                    contractual effect. Notices to you may be made via either email or regular mail.</p>

                <p>You agree that no joint venture, partnership, employment, or agency relationship exists between you
                    and Organisation as a result of this agreement or use of the Asure Products. Organisation’s
                    performance of
                    this agreement is subject to existing laws and legal process, and nothing contained in this
                    agreement is in derogation of Organisation’s right to comply with governmental, court and law
                    enforcement
                    requests or requirements relating to your use of the Asure Products or information provided to
                    or gathered by Organisation with respect to such use.</p>

                <p>Unless otherwise specified herein, these Terms constitutes the entire agreement between the user and
                    Organisation with respect to the Asure Products and it supersedes all prior or contemporaneous
                    communications and proposals, whether electronic, oral or written, between the user and Organisation
                    with
                    respect to the Asure Products, except for any Terms of Token Sale into which you enter with
                    Organisation. A printed version of this agreement and of any notice given in electronic form shall
                    be
                    admissible in judicial or administrative proceedings based upon or relating to this agreement to the
                    same extent and subject to the same conditions as other business documents and records originally
                    generated and maintained in printed form. It is the express wish to the parties that this agreement
                    and all related documents be written in English.</p>

                <h5>Your Privacy</h5>

                <p>At Organisation, we respect the privacy of our users. For details please see our Privacy Policy.
                    &nbsp;By
                    using the Asure Products, you consent to our collection and use of personal data as outlined
                    therein.</p>


                <h5>Contact Us</h5>

                <p>Organisation welcomes your questions or comments regarding these Terms via email at
                    community@asure.io.</p>

                <h2>PRIVACY POLICY</h2>

                <h5>Date Posted: 02 September 2017</h5>

                <h5>Last Updated (effective date): 07 February 2018</h5>

                <p>Welcome to the Asure website (the “Asure Site”), operated by Swarm Technologies Inc.
                    (“Organisation”, “we”, “us” or “our”). Our practices related to your personal information are
                    described
                    in this privacy policy (the “Privacy Policy”). Organisation makes available the Asure Products
                    (defined below) to you subject to your acceptance of the Privacy Policy. If you do not accept the
                    terms of this Privacy Policy you may not use the Asure Products.</p>

                <h5>Application of this Privacy Policy </h5>

                <p>This Privacy Policy applies to your use of (regardless of means of access) any of the current set of
                    Asure products and services and/or participation in any token sales we may offer from time to
                    time (“Token Sales”), collectively referred to as “Asure Products”, such as our website
                    (http://asure.io) related to the Asure threat intelligence marketplace, a decentralized,
                    blockchain-based, automated cyber threat intelligence platform implemented in Ethereum smart
                    contracts. The Asure Products are owned and provided by Organisation. You can access, download or
                    use
                    Asure Products through the Asure Site (including via Devices (defined below)) as set forth
                    herein or in the Terms of Service or in any Terms of Token Sale applicable to you. A “Device” is any
                    computer used to access the Asure Products, including without limitation a desktop, laptop,
                    mobile phone, tablet, or other consumer electronic device. Asure Products can enable you to use
                    applications developed by third parties, individually and collectively referred to as “Third Party
                    Apps” on a Device, such as an Android app on a Device running either the Microsoft Windows, Apple OS
                    X or Linux operating systems.</p>

                <h5>General Information </h5>

                <p>We believe that you have the right to understand how your information is stored and used. We are not
                    responsible for the privacy practices of any third parties or the content of linked sites although
                    we do encourage you to read the applicable privacy policies and terms and conditions of such parties
                    or web sites.</p>

                <h5>Information We Gather </h5>

                <p>Information You Provide: If you wish to obtain information about our products or services you can
                    contact us. We may collect your name, and email address, along with other personally identifiable
                    information or personal data (“Personally Identifiable Information” or “PII”) or other information
                    you may choose to submit, in connection with your use of the Asure Products. When you register
                    for a Asure account, we may collect certain PII, such as your name, email address and
                    citizenship. You may also be asked to provide log-in information, such as your email address and a
                    password, which will be used to access your account. &nbsp;If you participate in a Token Sale, you
                    will be required to provide PII sufficient to validate your participation and comply with
                    Organisation’s
                    internal procedures and applicable law, including, for example, a government issued identification
                    number such as a tax number, drivers’ license number, or personal identification number. &nbsp;By
                    providing your PII to us, you explicitly agree to our collection and use of such information as
                    described in this Privacy Policy. You can choose not to provide certain information, but then you
                    might not be able to take advantage of many of our features. We use the information that you provide
                    for such purposes as responding to your requests, customizing our features, and communicating with
                    you.</p>

                <p>Information Automatically Collected: We (or our service providers acting on our behalf) may collect
                    PII and other information about the Asure Products that you use and how you use them. This
                    information includes information that may identify you as well as statistical information
                    (“Analytics”) that does not identify you. Some Analytics may be correlated with your PII. Usage
                    information may include:</p>

                <p>a) Device Information: We may collect Device-specific information (such as your hardware model and
                    operating system version).</p>

                <p>b) Log Information: When you use Asure Products, we may automatically record or log information
                    from your Device, its software, and your activity using the Asure Products. This may include:
                    The Device’s Internet Protocol (“IP”) address; Locale preferences; Date and time stamps associated
                    with transactions; System configuration information; and other interactions with the Asure
                    Products.</p>

                <p>Cookies: We may receive and store certain types of information whenever you interact with us. For
                    example, like many Web sites, we may use “cookies,” and we obtain certain types of information when
                    your Web browser accesses the Asure Site or advertisements and other content served by or on
                    behalf of the Asure Site on other Web sites. We may use cookies to personalize our Site for you
                    and to collect aggregate information about site usage by all of our users. A cookie is a text file
                    that our Site transfers to your computer’s hard drive for record-keeping purposes and to enhance the
                    quality of your visit to our Site. The cookie assigns a random, unique number to your computer.</p>

                <p>The cookies we may use on the Asure Site may include:</p>

                <p>a) Session cookies: We may use session cookies to grant our users access to content and to enable
                    actions they must be logged in to do.</p>

                <p>b) Persistent cookies: These usually have an expiration date in the distant future and remain in your
                    browser until they expire or you manually delete them. We may use persistent cookies to better
                    understand usage patterns so we can improve the site for our customers. For example, we may use a
                    persistent cookie to associate you with your user account or to remember that your choices on the
                    Asure Site, but this only works when cookies on our site are enabled.</p>

                <p>c) Third party cookies: We permit limited third parties to place cookies through the Asure Site
                    to provide us with better insights into the use of the Asure Site or user demographics or to
                    provide relevant advertising to you. These third parties may collect information about a consumer’s
                    online activities over time and across different websites when he or she uses our website. For
                    example, we may utilize Google Analytics to analyze usage patterns of the Asure Site. Google
                    Analytics generates a cookie to capture information about your use of the Asure Site which
                    Google uses to compile reports on website activity for us and to provide other related services.
                    Google may use a portion of your IP address to identify their cookie, but this will not be
                    associated with any other data held by Google.</p>

                <p>We may also permit third party service providers to place cookies through the Asure Site, as
                    indicated above, to perform analytic or marketing functions where you are notified of them and you
                    have consented to the usage. We do not control the use of such third party cookies or the resulting
                    information and we are not responsible for any actions or policies of such third parties.</p>

                <p>Your use of the Asure Site will be deemed to be your consent to the placement of cookies on your
                    computer or other device. If you prefer not to receive cookies through the Asure Site, you can
                    set your browser to either reject all cookies, to allow only “trusted” websites to set them, or to
                    accept only those cookies from those sites you are currently on. Unless you have adjusted your
                    browser setting so that it will refuse cookies, our system will issue cookies when you log on to the
                    Asure Site and use it. If you refuse cookies, this will limit system performance and may even
                    cause certain features of the Asure Site to malfunction or not to work at all.</p>

                <p>E-mail Communications: To help us make e-mails more useful and interesting, we may receive a
                    confirmation when you open e-mail from the Asure Site, if your computer supports such
                    capabilities. In an effort to avoid sending unnecessary messages to our customers, we also compare
                    our customer list to lists received from other companies.</p>

                <p>Blockchain Information: Many Asure Products are built on, or are directly integrated with, public
                    record blockchains, such as the Ethereum Blockchain. Your use of Asure Products will be deemed
                    to be your consent to the placement of information necessary to the proper functioning of Asure
                    Products on all necessary blockchains, both public and private. We have no control over, and are not
                    responsible for, the functioning of such blockchains or actions taken by them with respect to your
                    information.</p>

                <p>Information from Other Sources: We might receive information about you from other sources and add it
                    to our account information.</p>

                <h5>Use of Information </h5>

                <p>The use of your information is subject to the Asure Privacy Policy, the Terms of Service in
                    effect at the time of use and the Terms of Token Sale. The provisions contained herein supersede all
                    previous notices or statements regarding our privacy practices with respect to the Asure
                    Products.</p>

                <p>We may use aggregated or anonymized data (independent of any personal identifiers) for research and
                    commercial purposes, such as improving the Asure Products. This information includes what areas
                    our users visit most frequently and what services they access most often. This information helps us
                    develop a better site that is more useful and accessible to you.</p>

                <p>We may use your PII internally for our general commercial purposes including, among other things, to
                    offer our own, our affiliates’ or third-party products and services that we think you may find of
                    interest</p>

                <p>We may use your email address to contact you to respond to your inquiries or to provide information
                    on products or services to you.</p>

                <p>Do-Not-Track: We may (and we may allow third party service providers to) use cookies or similar
                    technologies to collect information about your browsing activities over time and across different
                    websites following your use of the Asure Site. For example, we may use a third party analytics
                    service to help us analyze how users use the Asure Site and enhance your experience when you use
                    the Site. Our Site currently does not respond to “Do Not Track” (DNT) signals and operates as
                    described in this Privacy Policy, whether or not a DNT signal is received.</p>

                <p>Disclosing Your Information: We may reveal PII about you to unaffiliated third parties: (1) if you
                    request or authorize it; (2) if the information is provided to help complete a transaction for you;
                    (3) if the information is provided to comply with the law, applicable regulations, governmental and
                    quasi- governmental requests, court orders or subpoenas, to enforce our Terms of Service or other
                    agreements, or to protect our rights, property or safety or the rights, property or safety of our
                    users or others (e.g., to a consumer reporting agency for fraud protection etc.); (4) if the
                    disclosure is done as part of a purchase, transfer or sale of services or assets (e.g., in the event
                    that any of our assets are acquired by another party, customer information may be one of the
                    transferred assets); (5) if the information is provided to our agents, outside vendors or service
                    providers to perform functions on our behalf (e.g., analyzing data, providing marketing assistance,
                    providing customer service, processing orders, etc.); (6) to allow them to market to you; or (7) as
                    otherwise described in this Asure Privacy Policy. We may disclose your aggregated or anonymized
                    information, such as usage statistics of the Asure Products, to our affiliates and third
                    parties.</p>

                <p>Opt-Out Rights: If you do not wish to receive offers or other commercial communications from us in
                    the future, you can “opt out” by following the “unsubscribe” instructions in any communication you
                    receive from us. Please be aware that you are not able to opt out of receiving communications about
                    your account or transactions with us.</p>

                <p>Accessing Your Information: You are required to provide us with accurate and up to date information.
                    Asure generally gives you the ability to amend the data you provide in connection with your
                    Asure account registration by accessing your account on our site and modifying the
                    information.</p>

                <p>Subject to any legislation which might, from time to time, oblige us to store the information for a
                    certain period of time, we will respect your wishes to correct inaccurate information. Otherwise, we
                    will hold your information for as long as we believe it will help us to achieve our aims as detailed
                    in this policy.</p>

                <p>You can ask us whether we are keeping personal information about you and you can ask to receive a
                    copy of that personal information. We will respond as quickly as we can to your requests for details
                    of personal information we hold about you.</p>

                <h5>Security </h5>

                <p>We have security measures in place in our physical facilities and in our computer systems, databases,
                    and communications networks that are reasonably designed to protect information contained within our
                    systems from loss, misuse or alteration.</p>

                <p>WE ARE NOT RESPONSIBLE FOR MAINTAINING THE CONFIDENTIALITY OF ANY NON- PUBLIC INFORMATION THAT YOU
                    PROVIDE US. IF THERE IS INFORMATION THAT YOU WISH TO PROTECT FROM DISCLOSURE TO OTHERS, DO NOT
                    PROVIDE IT TO US.</p>

                <p>No method of electronic transmission or storage is 100% secure. Therefore, we cannot guarantee
                    absolute security of your PII. You also play a role in protecting your information. Please safeguard
                    your user name, email address and password and do not share them with others. If we receive
                    instructions using your log-in information we will consider that you have authorized the
                    instructions. You agree to notify us immediately of any unauthorized use of your account or any
                    other breach of security. We reserve the right to refuse service, terminate accounts, or remove or
                    edit content in our sole discretion.</p>

                <h5>California Residents </h5>

                <p>Because we value your privacy, we have taken the necessary precautions to be in compliance with the
                    California Online Privacy Protection Act. We may disclose your personal information to our
                    affiliates or other third parties, including Google, who may use that information to market to you
                    directly. Pursuant to California’s “Shine the Light Act”, California residents are permitted to
                    request information about the manner in which we share certain categories of information with third
                    parties for their marketing use. Please email us at legal@Asure.io to request a copy of our
                    disclosure pursuant to California law.</p>

                <h5>Children’s Online Privacy Protection Act </h5>

                <p>We are in compliance with the requirements of the Children’s Online Privacy Protection Act (“COPPA”)
                    and do not collect knowingly collect any information from anyone under 13 years of age. If you are
                    under the age of 13, you may not submit any PII through the Asure Products. We encourage parents
                    and legal guardians to monitor their children’s Internet usage and to help enforce our Privacy
                    Policy by instructing their children never to provide PII through the Asure Products without
                    their permission. If you have reason to believe that a child under the age of 13 has provided PII to
                    us through the Asure Products, please contact us, and we will endeavor to delete that
                    information from our databases. Our website, products, and services may only be used by individuals
                    who are at least 18 years old or older.</p>

                <h5>Links to Third-Party Sites </h5>

                <p>When you use the Asure Site or the Asure Products, you may be directed to other websites that
                    are beyond our control. We may also allow third-party sites or applications to link to the Asure
                    Site. We are not responsible for the privacy practices of any third parties or the content of linked
                    sites but we do encourage you to read the applicable privacy policies and terms and conditions of
                    such parties or web sites. The only website to which this Privacy Policy applies is the Asure
                    Site.</p>

                <h5>International Transfers </h5>

                <p>The PII we receive may be held on our computers and systems in the European Union, throughout Asia
                    and in the computers and systems of our offices and datacenters in the United States and may be
                    accessed by or given to our staff working outside the European Union. Your information may be
                    processed by us in the United States, where laws regarding data protection may be less stringent
                    than the laws in your country. By using the Asure Site and by providing any personal information
                    to the Asure Site, all users, including without limitation users in Canada and the European
                    Union, fully understand and unambiguously consent to the collection and processing of such
                    information in the United States.</p>

                <h5>Online Privacy Policy Only </h5>

                <p>This Asure Privacy Policy applies only to information collected online through our website and
                    not to information collected offline. This Privacy Policy shall not apply to any unsolicited
                    information you provide to us through the Asure Products or through any other means. This
                    includes, but is not limited to, information posted to any public areas of the Asure Products,
                    such as forums, any ideas for new products or modifications to existing products, and other
                    unsolicited submissions (collectively, “Unsolicited Information”). All Unsolicited Information shall
                    be deemed to be non-confidential and we shall be free to reproduce, use, disclose, and distribute
                    such Unsolicited Information to others without limitation or attribution.</p>

                <h5>Terms of Service </h5>

                <p>Please also visit our Terms of Service section, which establishes the use, disclaimers, and
                    limitations of liability governing the use of our website.</p>

                <h5>Terms of Token Sale </h5>

                <p>We may also collect information from our customers in connection with any Terms of Token Sale which
                    may be applicable to that customer or user.</p>

                <h5>Changes to Our Privacy Policy </h5>

                <p>As our services evolve and we perceive the need or desirability of using information collected in
                    other ways, we may from time to time amend this Privacy Policy. We encourage you to check the
                    Asure Site frequently to see the current Privacy Policy and Terms of Service in effect and any
                    changes that may have been made to them. If we make material changes to this Policy, we will post
                    the revised Asure Privacy Policy and the revised effective date on the Asure Site. Please
                    check back here periodically or contact us at the address listed at the end of this Policy. Your
                    continued used of our services after any changes or revisions to the Privacy Policy shall indicate
                    your agreement with the terms of such revised Privacy Policy.</p>

                <h5>Contacting Us </h5>

                <p>This site is owned and operated by Swarm Technologies, Inc. If you have any questions or suggestions
                    with respect to this policy, or if you wish to ask us to delete, correct, or show you your
                    information as provided above, you can write to us at legal@Asure.io.</p>


            </div>
        </div>
    </div>
</div>

