<div class="row">
    <div class="col-md-12">
        <div class="social">
            <a href="https://twitter.com/asure_io" target="_blank" rel="noopener" alt="twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/asure" target="_blank" rel="noopener" alt="linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://medium.com/asure-io" target="_blank" rel="noopener" alt="medium">
                <i class="fab fa-medium"></i>
            </a>
            <a href="https://t.me/asure_io" target="_blank" rel="noopener" alt="telegram">
                <i class="fab fa-telegram"></i>
            </a>
            <a href="https://www.facebook.com/asure.io" target="_blank" rel="noopener" alt="facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/asure.io/" target="_blank" rel="noopener" alt="instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.reddit.com/user/asurefoundation" target="_blank" rel="noopener" alt="reddit">
                <i class="fab fa-reddit"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCa3AMvXEwfOkgjih2ESuhSQ" target="_blank" rel="noopener"
               alt="youtube">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.github.com/asurefoundation" target="_blank" rel="noopener" alt="github">
                <i class="fab fa-github"></i>
            </a>
            <br/><br/><br/>
        </div>
    </div>
</div>