<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Lösungen</h1>
        </div>
    </div>
    <div class="solutions">
        <div class="container">

            <div class="row">
                <div class="offset-lg-2 col-lg-8 justify">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0 justify default-text">
                            "Wir werden Regierungen auf der ganzen Welt ermöglichen, umlagefinanzierte
                            Sozialversicherungssysteme einzurichten und bestehende Systeme auf die Asure-Plattform zu
                            migrieren, damit sie die Vorteile der Blockchain-Technologie nutzen können."
                        </p>
                        <footer class="blockquote-footer"><cite title="Paul Mizel, CEO">Paul Mizel, CEO</cite></footer>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 justify">
                    <div class="row row-padding">
                        <div class="col-sm-8 col-lg-6">
                            <h6>Umlagefinanzierte Sozialversicherungssysteme</h6>
                            <p>
                                In vielen Ländern gibt es Sozialversicherungssysteme, die arbeitslose, kranke oder
                                pensionierte Bürger mit Grundbedürfnissen versorgen.
                            </p>
                            <p>
                                Umlagefinanzierte Systeme können zur Finanzierung von Sozialversicherungssystemen
                                eingesetzt werden. Die Prämien werden zur direkten Auszahlung der Leistungen verwendet
                                und es wird keine oder eine kleine Reserve gebildet. Im Gegensatz zu privaten
                                Versicherungsgesellschaften können Länder durch die Einführung von
                                Sozialversicherungssystemen kontinuierliche Prämien garantieren und benötigen daher kein
                                Deckungskapital.
                            </p>
                            <p>
                                Aufgrund ihres Umfangs und ihrer Langlebigkeit sind die Verwaltungskosten der
                                Sozialversicherungssysteme extrem hoch. Durch den Einsatz der Blockchain-Technologie und
                                der Asure-Plattform sind wir in der Lage, Kosten zu senken und sichere Systeme für
                                Millionen von Menschen aufzubauen.
                            </p>
                        </div>
                        <div class="col-sm-4 col-lg-6">
                            <img src="/content/img/flags.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                    </div>

                    <div class="row row-padding">
                        <div class="col-sm-4 col-lg-6 order-2 order-lg-1">
                            <img src="/content/img/blockchain.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-lg-6 order-1 order-lg-2">
                            <h6>Vorteile durch den Einsatz der Blockchain-Technologogie</h6>
                            <p>
                                Die Blockchain-Technologie bietet die Vorteile der Rückverfolgbarkeit und
                                Wirtschaftlichkeit. Einfach ausgedrückt, kann eine Blockchain verwendet werden, um die
                                Bewegung von Waren, ihre Herkunft, Menge und so weiter zu verfolgen. Das bringt ein
                                neues Maß an Transparenz in die Ökosysteme von Asure -
                                Vereinfachung von Prozessen wie Eigentumsübertragung und Zahlungen.
                            </p>
                            <p>
                                Neben der Transparenz ergeben sich auch Vorteile bei der Reduzierung bzw. Vermeidung
                                unnötiger Kosten für die IT-Infrastruktur und der Reduzierung der Kosten für interne und
                                externe Finanzgeschäfte, Finanzberichterstattung und Administration.
                            </p>
                            <p>
                                Alle Transaktionen sind kryptographisch miteinander verzahnt und fälschungssicher, was
                                Vertrauen in das Asure-Ökosystem schafft.
                            </p>
                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col-sm-8 col-lg-6">
                            <h6>Fallstudie: Deutsche Rentenversicherung</h6>
                            <p>
                                Mit der Umstellung auf den so genannten Generationenvertrag konnte ein
                                umlagefinanziertes Rentensystem aufgebaut werden, das erstmals einkommens- und
                                beitragsbezogene Lohnausgleichsleistungen zur Sicherung des Lebensunterhalts im Alter
                                ermöglichte.
                            </p>
                            <!--
                                                        <h6>Key benefits:</h6>
                                                        <ul>
                                                            <li>Inflation-proof</li>
                                                            <li>Financial crises safe</li>
                                                            <li>Pay-as-you-go system enable to act in line with current salary trends</li>
                                                            <li>Profit from the productivity progress of the economy</li>
                                                        </ul>
                            -->
                            <p>
                                Heute umfasst das deutsche Rentensystem 53,8 Millionen aktive Versicherte (Dez. 2015)
                                und 20,9 Millionen Rentner (Jul. 2016). Im Jahr 2016 war das Rentensystem mit €295 Mrd.
                                ausgestattet, wovon
                                <strong>€3,85 Mrd. für Verwaltungskosten verwendet wurden.</strong>
                            </p>

                            <h6>Proof of Concept (PoC)</h6>
                            <p>
                                In Kürze werden wir unseren PoC des deutschen Rentensystems veröffentlichen, der zeigt,
                                wie man Umlagebasierte Systeme mithilfe der Blockchain-Technologie implementiert werden
                                können.
                            </p>
                        </div>
                        <div class="col-sm-4 col-lg-6">
                            <img src="/content/img/generations.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col-sm-4 col-lg-6 order-2 order-lg-1">
                            <img src="/content/img/world.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-lg-6 order-1 order-lg-2">
                            <h6>Regierungen, Kooperations- und Forschungspartner</h6>
                            <p>
                                Wir suchen weltweit Regierungen und Kooperationspartner, die an der Einführung neuer
                                sozialer Sicherungssysteme interessiert sind. Auch sind wir daran interessiert,
                                bestehende Systeme der sozialen Sicherheit in die Blockchain zu überführen.
                            </p>
                            <p>
                                Bitte kontaktieren Sie uns über <a href="mailto:collaboration@asure.io">collaboration@asure.io</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>