<section class="blc-subscribe" id="subscribe">
    <!--<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">-->
    <div id="mc_embed_signup">
        <form action="https://asure.us17.list-manage.com/subscribe/post?u=934c8a5f49ce69acfe8f99c16&amp;id=f60f297166"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" rel="noopener" novalidate="">
            <div id="mc_embed_signup_scroll" class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-2">
                        <div class="head">
                            <div class="sub" style="text-align:left">
                                <!--<label for="mce-EMAIL">SUBSCRIBE</label>-->
                                Stay in touch
                            </div>
                            <div class="title" style="text-align:left">
                                Geben Sie Ihre E-Mail-Adresse ein, um Neuigkeiten und Updates über Asure und unseren
                                kommenden ICO zu erhalten.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="email" value="" name="EMAIL" class="form-control form-control-lg" id="mce-EMAIL"
                               placeholder="Email Adresse" required="">
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_934c8a5f49ce69acfe8f99c16_f60f297166" tabindex="-1" value="">
                    </div>
                    <div class="col-md-2 clear">
                        <input type="submit" value="Abonnieren" name="subscribe" id="mc-embedded-subscribe"
                               class="btn btn-lg btn-primary btn-block">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
