<div class="blc-timeline" id="roadmap">
    <div class="container">
        <div class="row example-centered">
            <div class="col-md-12 example-title head">
                <h1 class="title hr">ASURE ROADMAP</h1>
            </div>
            <div class="col-md-10 offset-md-1">
                <ul class="timeline timeline-centered">
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/labs.png" width="64px" height="64px" alt="Labs Research"><br/>
              2014
            </span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Research</h3>
                            <p class="justify">
                                <b>May 2014 - Blockchain Research</b><br/>
                                Erste Forschungsprojekte in Zusammenarbeit mit der Fachhochschule Dortmund zur
                                Untersuchung der Möglichkeiten der Blockchain für die Versicherungswirtschaft und der
                                Entwicklung erster Prototypen.
                                <br/>
                                <br/><b>August 2015 - Artificial Intelligence Research</b><br/>
                                Erste Forschungsprojekte über Künstliche Intelligenz, Machine Learning, Big Data und
                                Predictive Analytics.
                                <br/>
                                <br/><b>November 2016 - AI Kiev Labs</b><br/>
                                Paul Mizel und sein Team begannen mit der Entwicklung eines Prototyps für einen
                                KI-gesteuerten Versicherungsberater und vollautomatischen Chat-Assistenten. Er hat zudem
                                ein Team in Kiew aufgebaut und die Bemühungen als Produktmanager koordiniert, um so die
                                Entwicklung weiter zu beschleunigen.
                                <br/>
                                <br/><b>April 2017 - Smart Contract Research</b><br/>
                                Erste Forschungsprojekte auf der Ethereum Blockchain und Proof-of-Concept zu
                                intelligenten Verträgen.
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/start.png" width="64px" height="64px" alt="Start"><br/>
              2018</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Phase 1: Asure & Minimum Viable Product</h3>
                            <p class="justify">
                                Paul Mizel, Fabian Raetz und Gamal Schmuck gründeten ein neues Unternehmen, um sich
                                neuen Herausforderungen zu stellen und an Ideen zu arbeiten, die die Welt zu einem
                                besseren Ort machen. Mit ihrer Expertise in der Versicherungswirtschaft verspürten sie
                                den Bedarf an einer neuen Versicherungsform, die auf den Prinzipien der DAO basiert.
                                Seitdem arbeiten sie an ihrer Vision, die in Asure mündete.

                                <br/>
                                <br/><b>Jun. 2018 - PoC</b><br/>
                                PoC ist fertig.

                                <br/>
                                <br/><b>Fall 2018 - ICO</b><br/>
                                ICO Vor- und Hauptverkauf.

                                <br/>
                                <br/><b>Fall 2018 - Exchange listing</b><br/>
                                Der Token wird auf den Tauschbörsen nach dem Token-Verkauf verfügbar sein.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/dev.png" width="64px" height="64px" alt="Development"><br/>
              2019</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Phase 2: Develop platform and Minimum Viable Product</h3>
                            <p class="justify">
                                Die ersten Asure Improvement Proposals (AIPs) werden veröffentlicht und die
                                Referenzimplementierungen der Plattform und des MVP in dem Ethereum testnet
                                veröffentlicht. Die Plattform kann von der Community überprüft und erste Verbesserungen
                                rund um den Smart Product Lifecycle vorgenommen werden.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/launch.png" width="64px" height="64px" alt="Launch"><br/>
              2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Phase 3: Launch platform and grow community</h3>
                            <p class="justify">
                                Die Plattform wird auch im Mainnet veröffentlicht und die Community kann die ersten
                                Produkte auf der Plattform implementieren. Das Asure-Ökosystem wird in der Entwicklung
                                skaliert und um die entsprechenden Werkzeuge erweitert: AsureScan, AsureWallet,
                                AsureBot, AsureId, AsureClaims.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/ops.png" width="64px" height="64px" alt="Operations"><br/>
              2023+</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Phase 4: Globalisation</h3>
                            <p class="justify">
                                Durch das offene und erweiterbare Design, die Plattform und die besten
                                Produkte setzen sich durch Selbstregulierung durch und werden von Einzelpersonen sowie
                                von Unternehmen, Behörden und Regierungen weltweit eingesetzt. Asure wird zum
                                Branchenführer in der dezentralen autonomen Versicherungsplattform.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <blockquote class="blockquote text-center"
                            cite="https://www.goodreads.com/quotes/302999-most-people-overestimate-what-they-can-do-in-one-year">
                    <p class="mb-0">
                        "Most people overestimate what they can do in one year and underestimate what they can do in ten
                        years."
                    </p>
                    <footer class="blockquote-footer"><cite title="Bill Gates">Bill Gates</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>