<div class="blc-whitepaper">
    <div class="container">
        <div class="whitepaper">
            <div class="title">Lesen Sie mehr.</div>
            <p>Unser Whitepaper wird in Kürze veröffentlicht.</p>
            <div class="controls">
                <div class="row">
                    <div class="offset-lg-3 col-lg-2">
                        <a href="#" class="btn btn-primary disabled btn-block">Whitepaper</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#" class="btn btn-primary disabled btn-block">Lightpaper</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#" class="btn btn-primary disabled btn-block">Präsentation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>