
Свойство `text-rendering ` определяет как браузеру оптимизировать рендеринг текста.
<!-- more -->

Возможные значения:

`auto` – как браузер на душу положит  
`optimizeSpeed` – наверно не стоит пояснять  
`optimizeLegibility` – качественное отображение важнее скорости, разрешает кернинг и лигатуры  
`geometricPrecision` – акцент на геометрической точности, по идее самый затратный метод но дает наилучшие результаты.

### Примеры

В реальности все немного запутанее (каждая строка текста это разный метод рендеринга, как перечислено на первом скрине):

![Chrome 20, font: PT Serif](/assets/img/post/textrend-a.png "figure caption")

![Firefox 14, font: PT Serif](/assets/img/post/textrend-b.png "figure caption")

В Firefox все выглядит одинаково, так как будто `optimizeLegibility` есть дефолтный метод, и неизменяемый.

![Opera, font: PT Serif](/assets/img/post/textrend-c.png "figure caption")

В Опере ничего не работать, хотя modernizr говорит что поддержка text-rendering есть.

Еще пару скриншотов для Georgia.

![Chrome 20, font: Georgia](/assets/img/post/textrend-d.png "figure caption")

![Firefox 14, font: Georgia](/assets/img/post/textrend-e.png "figure caption")

Как видно для Georgia никакого кернинга нет, боюсь соврать но это похоже означает что сам шрифт должен содержать информацию о кернинговых парах, лигатурах и тд.

<a class="jsbin-embed" href="http://jsbin.com/EhoxiGAPe/6/embed?output">JS Bin</a>

##### По теме:

* [MDN text-rendering](https://developer.mozilla.org/en/CSS/text-rendering) 
* [text-rendering](http://y3x.ru/2011/01/css-text-rendering/)
* [Habrahabr: Свойства CSS, влияющие на рендеринг шрифта](http://habrahabr.ru/post/122269/)
* [Cross-browser kerning-pairs &amp; ligatures](http://aestheticallyloyal.com/public/optimize-legibility/")
* [CSS Text-Rendering](http://trentwalton.com/2010/06/29/css-text-rendering/)