$link-color: #2877bd;

@mixin line {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

@mixin hr {
  position: relative;
  margin-bottom: 40px;
  font-size: 26px;

  &:after {
    content: '';
    //width: 400px;
    //margin-left: -200px;
    width: 100%;
    margin-left: -50%;
    bottom: -16px;
    position: absolute;
    left: 50%;
    height: 0px;
    background-color: #444; //#69acd6; //#072a4d; //#67abd6;
    opacity: 0.65;
  }
}

@mixin hrblack {
  position: relative;
  margin-bottom: 40px;
  font-size: 26px;

  &:after {
    content: '';
    width: 400px;
    margin-left: -200px;
    bottom: -16px;
    position: absolute;
    left: 50%;
    height: 2px;
    background-color: #444; //#072a4d; //#67abd6;
  }
}

@mixin hrwhite {
  position: relative;
  margin-bottom: 40px;
  font-size: 26px;

  &:after {
    content: '';
    width: 400px;
    margin-left: -200px;
    bottom: -16px;
    position: absolute;
    left: 50%;
    height: 2px;
    background-color: #ffffff; //#072a4d; //#67abd6;
  }
}

@mixin section {
  padding: 80px 0 80px;
  color: #444;

  .title {
    font-size: 36px;
    //margin-bottom: 40px;
  }

  p, li, blockquote {
    font-size: 18px;
    line-height: 34px;
    width: 90%;
    list-style: inside square;
  }

  img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

@mixin add {
  @include section;
  /*
    &:before {
      @include line;
      top: 0;
      -webkit-transform: skewY(-1.5deg);
      transform: skewY(-1.5deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-backface-visibility: hidden;
      outline: 1px solid transparent;
    }*/
}

@mixin even {
  position: relative;
  @include section;
  /*
    &:before {
      @include line;
      top: 0;
      -webkit-transform: skewY(1deg);
      transform: skewY(1deg);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
      -webkit-backface-visibility: hidden;
      outline: 1px solid transparent;
    }*/
}

* {
  margin: 0;
  padding: 0;
}

.links a:hover {
  color: #ffffff;
}

.blc-footer a, .social a {
  text-decoration: none;
}

.btn-primary {
  background-color: #69acd6;
  border-color: #146492;
  color: #fff;

  &.disabled, &:disabled {
    background-color: #5380a5;
    border-color: #146492;
  }
}

.btn-primary:hover {
  color: #fff;
  background-color: #6ac1eb !important;
  border-color: #146492 !important;
}

.head {
  .sub {
    text-transform: uppercase;
    color: #69acd6;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .title {
    font-size: 26px;
  }
}

body {
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #fff;

  //background-image: url("../../logo/asure-logo-bg.svg");
  background-repeat: repeat-y;
  background-size: 1524px;
  background-position-x: -548px;
  font-weight: 100;
}

b {
  font-weight: 500;
}

a {
  color: $link-color;
  font-weight: 500;
}

ul {
  list-style-position: inside;
  &.ul {
    list-style: inside square;
  }
}

h6 {
  font-size: 16px;
}

h5 {
  font-size: 18px;
}

h4 {
  font-size: 20px;
}

i.telegram {
  right: 20px;
  bottom: 70px;
  position: fixed;
  z-index: 9999;
  color: #efefef;
  background-color: #159cd1;
  font-size: 35px !important;
  line-height: 60px;
  margin-right: 0px;
  width: 64px;
  height: 64px;
  border-radius: 64px !important;
  padding: 2px 5px 0 0;
  text-align: center;
  &:hover {
    background-color: #159cd1;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  }
}

section {
  position: relative;
}

.img-thumbnail {
  padding: 0;
  background-color: #eee;
  border: 1px solid #eeeeee;
  max-width: 100%;
  height: auto;
  border-radius: 0;
}

.blc-navbar {

  .navbar-brand {
    font-size: 18px;
    color: #444;
    font-weight: 100;
    img {
      max-height: 32px;
    }
  }
}

.navbar {
  border-bottom: 0.1px solid #efefef;
}

.bg-white {
  background: #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link, .nav-tabs .nav-link.active {
  border-radius: 0px;
  text-transform: uppercase;
}

div.tab-content {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #dae0e5;
  border-top: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #09294c;
  text-transform: uppercase;
  //font-weight: bold;
  &.active, &:hover {
    color: $link-color;
  }

  /*&:focus {
    color: inherit;
  }
  /*:hover{
    color: #c8001e;
  }*/
}

.blc-hero {
  //background-color: #000000;
  height: 100vh;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/triangles.svg");
    opacity: 0.3;
    background-size: cover;
    border-bottom: 0.1px solid #efefef;
    /*
    background: linear-gradient(180deg, #8fddc9, #93c9e3, #93ade3);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 53s ease infinite;
    -moz-animation: AnimationName 53s ease infinite;
    -o-animation: AnimationName 53s ease infinite;
    animation: AnimationName 53s ease infinite;

    @-webkit-keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
    }
    @-moz-keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
    }
    @-o-keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
    }
    @keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
    }
    */

    iframe {
      overflow: hidden;
      height: 100vh;
    }
  }

  .hero {
    position: relative;
    color: #444;
    padding-top: 60px;
    text-align: center;

    @media (max-width: 768px) {
      padding-top: 60px;
      h1 {
        font-size: 36px !important;
      }
      h2 {
        font-size: 24px !important;
      }
    }
    h1 {
      font-weight: 100;
      font-size: 60px;
      color: #444;
      text-shadow: 0px 0px 20px #ddd;

    }
    h2 {
      font-weight: 100;
      color: #444;
      text-shadow: 0px 0px 20px #ddd;
      text-transform: uppercase;
    }

    .entry {
      margin-bottom: 38px;

      p {
        margin-bottom: 24px;
        font-size: 18px;
        color: #444;
      }

      small {
        color: #444;
      }

      img {
        max-width: 220px;
      }
    }
  }
}

.head {
  text-align: center;
  margin-bottom: 50px;
  h1.title {
    @include hr;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 0px;
    font-size: 40px;
    color: #444; //#69acd6; //#444444;
    font-weight: 100;
  }
  h1.title.white {
    //@include hrwhite;
    color: #fff;
    font-size: 40px;
  }
}

.content-block {
  h2.title {
    //text-transform: uppercase;
    //margin-bottom: 30px;
    //padding-bottom: 0px;
    font-size: 26px;
    font-weight: 100;
    color: #444;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.navbar-footer {
  opacity: 0;
  -webkit-animation: fadein2 250ms ease-out 4s forwards;
  animation: fadein2 250ms ease-out 4s forwards;

  .navbar-cookies {
    background-color: #f7f7f7;
    //border-top: 2px solid #e61664;

    .container {
      font-size: 0.8em;
    }

    p {
      margin: 0;
    }
  }

  .navbar-social {
    background-color: #262b2f;
    border-top: 2px solid #66abd8;

    @media (max-width: 576px) {
      .form-inline {
        width: 100%;
        flex-wrap: nowrap;
      }
    }

    .fb-like {
      padding-right: 4px;
    }
  }
}

.blc-solutions {
  padding: 80px 0 40px;

  background: #fbfbfb;
  .row.row-padding {
    padding: 30px 0 30px;
  }
  .features {
    .title {
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .item {
      border: 1px solid #eeeeee;
      text-align: center;
      background-color: #f7f7f7;
      padding: 20px 25px;
      min-height: 250px;
      //border-radius: 4px;

      color: #444;

      .image {
        margin-bottom: 15px;
      }
    }
  }
}

.bg-dark {
  background: #241302;
  h1 {
    color: #c17726 !important;
  }
  p, div, li {
    color: #ddd !important;
  }
}

.text-brown {
  color: #c17726;
}

.bg-brown {
  background: #c17726;
}

.text-brown {
  color: #c17726;
}

.bg-gray {
  background: #eeeeee;
}

.bg-lila {
  background: #b99595;
}

.bg-red {
  background: #e5d1ca;
}

.bg-duck {
  background: #a9d2d5;
}

.bg-violete {
  background: #c2cbdb;
}

.bg-slate {
  background: #81aed6;
}

.bg-yellow {
  background: #e0ddc9;
}

.bg-blue {
  background: #a6cbd8;
}

.bg-green {
  background: #b3d8b9;
}

.bg-green-gray {
  background: #95adaa;
}

.bg-blue-gray {
  background: #959bad;
}

.blc-token {
  padding: 80px 0 40px;

  .features {
    .title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .item {
      border: 1px solid #eeeeee;
      text-align: center;
      background-color: #f7f7f7;
      padding: 20px 25px;
      min-height: 330px;
      //border-radius: 4px;
      color: #444;

      .image {
        margin-bottom: 15px;
      }
    }
  }
}

.blc-feature {
  padding: 80px 0 140px;

  .summery {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f9f9f9;
  }

  .features {
    .title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .item {
      border: 1px solid #eeeeee;
      text-align: center;
      background-color: #f7f7f7;
      padding: 30px 25px;
      min-height: 350px;
      //border-radius: 4px;
      color: #444;
      height: 100%;

      .image {
        margin-bottom: 15px;
      }
    }
  }
}

.blc-zero, .blc-two {
  //background: #69acd6;
  @include add;
}

.blc-news {
  .social {
    a {
      color: #444;
    }
  }
  @include add;

  p {
    text-align: center;
    width: 100%;
  }

  .form-inline {
    justify-content: center;
  }

  @media (min-width: 768px) {
    .social {
      padding-top: 100px;
    }
  }
}

.blc-one, .blc-three {
  //background: #7ec5b7;
  z-index: 1;
  @include even;
}

.blc-reviews {
  background-color: #fff;
}

.blc-footer {
  background-color: #262b2f;
  //padding-top: 80px;
  padding-bottom: 30px;
  color: #ababa9;

  .title {
    font-size: 18px;
    margin-bottom: 34px;
    color: #fff;
  }

  ul li {
    margin-bottom: 10px;
    list-style: none;
    font-size: 16px;

    a {
      color: #ababa9;
    }
  }
}

.social {
  padding-top: 50px;
  text-align: center;
  a {
    font-size: 28px;
    margin-right: 5px;
    color: #ababa9;

    &:hover {
      color: $link-color;
    }

    svg {
      width: 30px;
      height: 30px;
    }

    @media (min-width: 992px) {
      font-size: 48px;
      margin-right: 30px;
    }
  }

  &.social-dark {
    a {
      color: #7ec5b7;

      &:hover {
        color: #52c5b0;
      }
    }
  }
}

.blc-partners {
  padding: 80px 0;

  .header {
    text-align: center;
  }

  .image {
    width: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;

    img {
      max-height: 62px;
    }
  }
}

.blc-ico {
  background-color: #f5f6fa;
  padding: 80px 0;
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid #ccc;

  &:hover,
  &.hover {
    cursor: pointer;
  }

  &.clicked {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  .front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    height: 100%;
    margin: inherit;
    padding: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .circle {
      height: 10px;
      width: 10px;
      background-color: #ddd;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-top: -15px;

      + .circle {
        margin-left: -15px;
      }

      &.active {
        background-color: #eee;
      }
    }
  }

  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blc-team {
  padding: 80px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  .team, .investor {
    margin: 0 30px 60px;
    text-align: center;

    img {
      //border-radius: 10px;
      margin-bottom: 20px;
      -webkit-filter: grayscale(100%); /* Chrome, Opera, Safari  */
      filter: grayscale(100%);
      border: 1px solid #888;
    }

    img:hover {
      //-webkit-filter: grayscale(0%); /* Chrome, Opera, Safari */
      //filter: grayscale(0%);
    }

    .name {
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }

  .team, .investor {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(38, 43, 47, 0.95);
      z-index: 2;
      display: none;
      margin-top: -1px;
      padding: 15px;
      font-size: 14px;

      p {
        color: #ffffff;
        font-style: italic;
        font-size: 1rem;
        word-wrap: break-word;

        @media (min-width: 992px) {
          font-size: 0.8rem;
        }
      }

      div {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;

        a {
          display: block;
          width: 25%;
          text-decoration: none;
          color: #ababa9;
          font-size: 1.3rem;

          &:hover, &:active {
            color: $link-color;
          }
        }
      }
    }

    &:hover .overlay {
      display: block;
      animation: fadein 350ms;
    }
  }
}

.blc-investors {
  padding: 80px 0;

  .investor {
    img {
      margin-bottom: 12px;
    }

    .name {
      font-weight: bold;
    }

    .desc {
      font-size: 13px;
    }
  }
}

.blc-whitepaper {
  background-color: #092a4c;
  padding: 60px 0;
  color: #fff;
  text-align: center;

  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .controls {
    .btn {
      color: #fff;
    }
  }
}

.blc-about {
  padding: 80px 0 20px;

  .about {
    .item {
      position: relative;
      margin-bottom: 70px;

      img {
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .title {
      font-size: 16px;
      margin-bottom: 15px;
      padding: 0 50px 0 80px;
      font-weight: bold;
      text-transform: uppercase;
      color: #444;
    }

    p, ul {
      padding: 0 50px 0 80px;
      color: #444;
      //line-height: 22px;
      font-size: 16px;
      text-align: justify;
    }
  }
}

.default-text {
  font-size: 16px;
}

.bg-particles {
  background-image: url("../img/bg-particles.png");
  background-position: top center;
  background-repeat: repeat-y;
}

blockquote {
  font-style: italic;
}

.blc-articles {
  padding-bottom: 60px;
  overflow: hidden;

  .item {
    padding: 0 30px;

    a {
      display: block;
      border: 1px solid #e4ebf3;
      height: 320px;

      &:hover {
        text-decoration: none;
      }
    }

    .image {
      background-color: #7ec5b7;
      height: 160px;
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
      }
    }

    .date {
      padding: 30px 30px 15px 30px;
      color: #9f9dab;
      font-size: 15px;
      display: block;
    }

    .title {
      display: block;
      color: #7ec5b7;
      padding: 0 30px;
    }
  }
}

.blc-timeline {
  background: url('../img/timeline.jpg');
  background-size: cover;
  padding: 80px 0;
  color: #444444;
  position: relative;

  &:before {
    content: '';
    //background-color: rgba(105, 172, 214, 0.93);
    background-color: rgba(165, 203, 217, 0.93);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    position: relative;
  }

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  .timeline-title {
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
  }

  .timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    h1, h2, h3, h4, h5, h6 {
      line-height: inherit;
    }
  }

  .timeline-item {
    padding-left: 40px;
    position: relative;

    &:last-child {
      padding-bottom: 0;
    }

    p {
      font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
      font-size: 16px;
      color: #444;
    }
  }

  .timeline-info {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;

    &:before {
      background: #fff;
      border: 3px solid transparent;
      //border-radius: 100%;
      content: "";
      display: block;
      height: 15px;
      position: absolute;
      top: 4px;
      left: 0;
      width: 15px;
      transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    }

    &:after {
      content: "";
      width: 3px;
      background: #CCD5DB;
      display: block;
      position: absolute;
      top: 24px;
      bottom: 0;
      left: 6px;
    }

    .timeline-item:last-child &:after {
      content: none;
    }

  }

  blockquote {
    color: #444;
    margin: 60px 0;

    footer {
      color: #444;
    }
  }

  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #fff;
  }

  .timeline-centered {
    .timeline-split {
      @media (min-width: 768px) {
        .timeline {
          display: table;
        }

        .timeline-item {
          display: table-row;
          padding: 0;
        }

        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
          display: table-cell;
          vertical-align: top;
        }

        .timeline-marker {
          position: relative;
        }

        .timeline-content {
          padding-left: 30px;
        }

        .timeline-info {
          padding-right: 30px;
        }

        .period .timeline-title {
          position: relative;
          left: -45px;
        }
      }
    }

    @media (min-width: 992px) {
      &,
      .timeline-item,
      .timeline-info,
      .timeline-marker,
      .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
      }

      .timeline-item {
        padding-bottom: 40px;
        overflow: hidden;
      }

      .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
      }

      .timeline-info,
      .timeline-content {
        width: 50%;
      }

      > .timeline-item:nth-child(odd) .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
      }

      > .timeline-item:nth-child(odd) .timeline-content {
        float: right;
        //text-align: left;
        padding-left: 30px;
      }

      > .timeline-item:nth-child(even) .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px;
      }

      > .timeline-item:nth-child(even) .timeline-content {
        float: left;
        //text-align: right;
        padding-right: 30px;
      }

      > .timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center;
      }

      .timeline-item.period {
        padding: 50px 0 90px;
      }

      .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto;
      }

      .period .timeline-title {
        left: auto;
      }
    }
  }
}

.mh750 {
  min-height: 750px;
}

.blc-graph {
  padding: 80px 0;

  h2 {
    font-size: 26px;
    font-weight: 800;
    color: #444;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 768px) {
      padding-top: 30px;
    }
  }

  .item {
    //padding: 13px 0 22px;
    padding: 5px 0 5px;
  }

  .head {
    margin-bottom: 40px;
    text-align: center;
  }

  .name {
    color: #868686;
    font-weight: bold;
  }

  .parcent {
    font-weight: bold;
    color: #69acd6;
    text-align: right;
  }

  .summ {
    font-weight: bold;
    color: #69acd6;
  }

  .grp {
    background-color: rgba(6, 137, 171, 0.14);
    //border-radius: 10px;
    height: 16px;
    position: relative;
    top: 4px;

    .in {
      background-color: #69acd6;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      //border-radius: 10px;
    }
  }

  .team, .legal {
    .grp .in {
      background-color: #e61664;
    }

    .parcent, .summ {
      color: #e61664;
    }
  }

  .partners, .marketing {
    .grp .in {
      background-color: #B59439;
    }

    .parcent, .summ {
      color: #B59439;
    }
  }

  .expansion, .tax {
    .grp .in {
      background-color: #7ec5b7;
    }

    .parcent, .summ {
      color: #7ec5b7;
    }
  }

  .bounties, .office {
    .grp .in {
      background-color: #a90cfb;
    }

    .parcent, .summ {
      color: #a90cfb;
    }
  }
}

.blc-faq, .blc-cookie-policy {
  background-color: #f5f6fa;
  padding: 80px 0;

  .card {
    border-color: #e4ebf5;
    border: 0;

    .card-header {
      background: #fff;
      border-color: #e4ebf5;
    }

    h5 {
      font-size: 15px;

      a {
        color: $link-color;
      }
    }

    .card-body {
      font-size: 14px;
    }
  }
}

#footer {
  background-color: #192028;
  height: 140px;
  line-height: 80px;
  color: #999999;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .blc-feature {
    padding: 50px 0 60px;

    .features .item {
      margin-bottom: 20px;
      min-height: 0;
      height: auto;
    }
  }

  .blc-solutions, .blc-token {
    .features .item {
      margin-bottom: 20px;

    }
  }

  .blc-subscribe {
    background: #f3f8fa;

    .title, input {
      margin-bottom: 20px;
    }
  }

  /*
  .blc-investors {
    .investor {
      padding: 20px 0;
      border-bottom: 1px solid #f7f7f7;
      text-align: center;

      .name{
        font-weight: bold;
      }
    }
  }*/

  .blc-graph .item {
    .parcent {
      text-align: left;
    }

    .grp {
      margin-bottom: 10px;
    }
  }

  section {
    //padding: 50px 0 !important;
  }
}

@media (min-width: 768px) {
  .blc-solutions, .blc-token {
    .features .item {
      margin-bottom: 20px;

    }
  }
}

.hide, .hidden {
  display: none;
}

.btn, .nav-item nav-link, .form-control {
  border-radius: 0px;
}

/*
.features .item {
  min-height: 400px !important;
}*/

.bordered {
  border: 1px solid #888;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 5px;
}

.gray {
  color: #444;
}

.red {
  color: #e91f62;
}

.green {
  color: #7FC6B7;
}

.bg-red {
  background-color: #e91f62;
}

.bg-color1 {
  background-color: #69acd6;
}

.bg-color2 {
  background-color: #7ec5b7;
}

.bg-color3 {
  background-color: #e91f62;
}

.bg-color4 {
  background-color: #d49b40;
}

.bg-color5 {
  background-color: #99c759;
}

.bg-color6 {
  background-color: #a90cfb;
}

.bg-color7 {
  background-color: #5bfb56;
}

.small-text {
  font-size: 0.8em;
}

.justify {
  text-align: justify;
}

.fa-beat {
  animation: fa-beat 5s ease infinite;
}

table.dist {
  height: 60px;
  td {
    text-align: center;
    padding: 15px;
    color: #fff;
  }
}

@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}

.carousel-indicators li{
  cursor: pointer;
}

.language-switch {
  #language-switch-btn {
    background: transparent;
    margin-left: 20px;
  }

  .dropdown-menu {
    min-width: 0;
    right: 0px;
    border-radius: 0px;
  }

  .flag {
    height: 16px;
    border: 1px solid #999999;
  }

  .language-switch-mobile {
    width: 100%;
    .navbar-nav {
      flex-direction: row;
      justify-content: center;

      .nav-item {
        padding: 0 15px;
      }
    }
  }
}