<div class="blc-about" id="about">
    <div class="container">
        <div class="head">
            <h1 class="title hr"> О нас</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    Asure - открытая, децентрализованная, автономная страховая платформа, основанная на <b> открытости </b>, <b> конфиденциальности </b>
                    и <b>cправедливости</b>, обусловленная поддержкой блокчейн-инновациями, объединяя в цифровом  мире отдельных лиц, компании и правительства всего мира.
                </div>
            </div>
        </div>
        <div class="about">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-lightbulb"></i>
                        </div>

                        <div class="title">Какая цель на будущее?</div>
                        <p>Люди во всем мире наслаждаются своей жизнью, не беспокоясь о рисках или потерях.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="title"> Кто стоит за Asure?</div>
                        <p>
                            <a href="#team">Команда Asure</a> представляет собой группу экспертов по страхованию и технологиям с многолетним опытом. Мы успешно работали над проектами в сфере распределенной технологии блокчейн с фокусом на искусственном интеллекте в страховании.                        </p>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-rocket"></i>
                        </div>

                        <div class="title"> Для чего Фонд  Asure ?</div>
                        <p>
                            Цель фонда - представить развитие и поддержать разработку решений. Именно поэтому фонд проводит активные исследования и делится своими результатами с более широкой общественностью: </p>
                        <ul class="ul">
                            <li> Предложение спецификаций (AIP)</li>
                            <li> Предоставление наработанных  реализаций </li>
                            <li> для обеспечения будущего роста платформы Asure.</li>
                        </ul>
                        <p> Основными областями исследований являются социальное обеспечение и в особенности в распределяемых системах социального страхования, осуществляемые правительствами по всему миру. </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-signal"></i>
                        </div>

                        <div class="title"> Как мы будем расширятся ?</div>
                        <p>
                            Будучи бывшими специалистами в области бизнеса и IT, у нас есть доступ к консалтинговым фирмам, которые ускоряют развитие на ранних этапах проекта.
                            Наш генеральный директор Paul Mizel приобрел ценный опыт в стратегиях и мероприятиях по созданию команды и активности для некоторых клиентов в Германии, а также в Киеве, Украина.                        </p>
                        <p> Мы также будем работать с состоявшимися страховыми компаниями и международными исследовательскими организациями для создания целой экосистемы вокруг платформы Asure. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
