<div class="blc-about" id="about">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Über Asure</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    Asure is an open decentralized autonomous insurance platform built around <b>openness</b>, <b>privacy</b>
                    and <b>fairness</b>, powered by blockchain innovation that brings together individuals, companies
                    and governments in a digital world.
                </div>
            </div>
        </div>
        <div class="about">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-lightbulb"></i>
                        </div>

                        <div class="title">What is the Vision?</div>
                        <p>
                            People around the world enjoy their lives without having to worry about any risks or
                            losses.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="title">Who is behind Asure?</div>
                        <p>
                            The <a href="#team">Asure team</a> is a group of insurance and
                            technology experts with decades of
                            experience in the industry. We have worked on projects with Distributed Ledger Technology
                            and projects with a focus on artificial intelligence in the context of insurance.
                        </p>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-rocket"></i>
                        </div>

                        <div class="title">Why Asure Foundation?</div>
                        <p>
                            It is the foundation's goal to showcase and assist in how solutions will be
                            developed.
                            Therefore the foundation is doing active research
                            and will
                            share their findings with the broader community by
                        </p>
                        <ul class="ul">
                            <li>proposing specifications (AIP)</li>
                            <li>providing reference implementations</li>
                            <li>ensure the future growth of the Asure platform</li>
                        </ul>
                        <p>
                            The main areas of research are social insurance and especially pay-as-you-go social
                            security systems used by governments around the world.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item">
                        <div style="font-size:3em;position: absolute;" class="gray">
                            <i class="fa fa-signal"></i>
                        </div>

                        <div class="title">How will we scale?</div>
                        <p>
                            As former business and IT specialists, we have access to consulting companies that will
                            help to accelerate the development in early stages of the project.
                            Our CEO Paul Mizel has gained invaluable experience in team building strategies and
                            activities for multiple clients in Germany as well as in Kiev, Ukraine.
                        </p>
                        <p>
                            We're also partnering up with well-established companies and international research
                            communities within the insurance industry to build up an entire ecosystem around Asure.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>