<div class="blc-about" id="about">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure Airdrop</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8">

                    <!--
                    https://www.tokendesk.io/airdrop/
                    -->

                    <br/> Получите бесплатные токены в Airdrop сообщества Token Вesk
                    <br/>
                    <br/> 400 000 токенов в подарок!
                    <br/> Оставшееся время до окончания регистрации в AirDrop:
                    <br/> 00
                    <br/> дней
                    <br/>
                    <br/> 00
                    <br/> час
                    <br/>
                    <br/> 00
                    <br/> мин
                    <br/>
                    <br/> 00
                    <br/> сек
                    <br/> Приветствуем сообщество Token Desk! Наша команда решила раздать 400 000 токенов держателям наших токенов и получить 30 TDS.
                    Главная причина, по которой мы это делаем Airdrop - наградить держателей наших токенов независимо ни от чего!
                    Но это не значит, что новым держателям токенов ничего не достанется.
                    Для участия в AirDrop необходимо совершить следующие действия:
                    <br/>
                    <br/> Присоединитесь к числу наших подписчиков в Telegram - Присоединитесь
                    <br/> Подпишитесь на наш канал в Twitter и сделайте ретвит нашего поста - Подписшитесь
                    <br/> Создайте аккаунт на нашей платформе - Зарегистрируйтесь
                    <br/> Совершив необходимые действия, Вы будете вознаграждены 6 TDS токенами. В дополнение к этому, Вы можете увеличить своё вознаграждение следующим образом:
                    <br/>
                    <br/> +1 TDS Лайкните и подпишитесь в нашей группе в Facebook - Лайкните
                    <br/> +1 TDS Подпишитесь на нашу группу в Reddit - Подпишитесь
                    <br/> +1 TDS Подпишитесь на нашу группу в Medium - Подпишитесь
                    <br/> Мы очень ценим поддержку держателей наших токенов и выражая свою благодарность мы хотим увеличить Airdrop в 3 раза!
                    <br/> Это означает, что держатели токенов, собравшие 100 или более TDS токенов имеют возможность получить 30 TDS токенов от Airdrop!
                    <br/>
                    <br/> После заполнения этой формы мы пришлём письмо на Ваш почтовый ящик с дальнейшими указаниями и точной датой Airdrop!
                    <br/>
                    <br/> After filling this form we will email you further details and exact dates of the AirDrop!
                    Thank you for participating and have a good day!
                    <br/>


                </div>
            </div>
        </div>
    </div>
</div>