<div class="navbar navbar-cookies navbar-expand-lg navbar-light d-none">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Мы используем cookies для улучшения, продвижения и защиты наших услуг.
                    При дальнейшем использовании нашего сайта, вы соглашаетесь на нашу
                    <a href="<%= fixUrl(current.path, 'cookie-policy/') %>">политику в отношении cookies</a>.
                    <a id="acceptCookiePolicy" href="#"><strong>Accept</strong></a>
                </p>
            </div>
        </div>
    </div>
</div>