<section class="blc-two bg-blue mh750" id="two">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-block">
                <h2 class="title">Automation</h2>
                <p class="justify">
                    At Asure we are working towards a self-regulating and fully autonomous platform. This will be
                    made possible by building upon the latest achievements in technology like IoT, Big Data, Artificial
                    Intelligence and many more.

                    In the following you find some key areas of interest:
                </p>
                <ul>
                    <li>
                        Big Data and Predictive Analytics for product and risk management.
                    </li>
                    <li>
                        Artificial Intelligence and Machine Learning for automation and self-regulation.
                    </li>
                    <li>
                        Automated validation, claims processing, chatbots and autonomous agents.
                    </li>
                    <li>
                        Increased levels of artificial intelligence and AI algorithms will provide self-sustainability
                        in operations and value creation at the platform.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/automation.svg') %>" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>