<section class="blc-one bg-green mh750" id="one">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/blockchain.svg') %>" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 content-block">
                <h2 class="title">Блокчейн–договоры основанные на смарт контрактах
                </h2>
                <p class="justify">
                    Чтобы соответствовать нашей приверженности к открытости в бизнесе, платформа Asure использует Blockchain технологию. Бизнес-идея реализуется как смарт контракты и будут работать в рамках открытого блокчейна через
                    <a href="https://www.ethereum.org/">Ethereum</a>. Из-за уникальности cвойств технологии блокчейн могут быть реализованы бизнес-идеи которые могут быть проверены общественностью. Еще одно преимущество заключается в том, что смарт контракты
                    являются защищенными от несанкционированного доступа.
                </p>
            </div>
        </div>
    </div>
</section>