<section class="blc-two bg-blue mh750" id="two">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-block">
                <h2 class="title">Автоматизация</h2>
                <p class="justify">
                    В Asure мы работаем с целью построения саморегулируемой и полностью автономной платформы.
                    Полная автономность будет реализована посредством использования новейших технологий в таких
                    областях, как IoT (Интернет Вещей), Big Data, искусственный интеллект и многих других.

                    Далее приведены основные пункты, с помощью которых мы планируем добиться наибольшей автоматизации:
                </p>
                <ul>
                    <li>
                        Big Data и Прогнозная Аналитика для управления продуктами и рисками.
                    </li>
                    <li>
                        Искусственный Интеллект и Машинное Обучение для автоматизации и саморегуляции.
                    </li>
                    <li>
                        Автоматизированная проверка достоверности, страховые возмещения, чатботы и автономные агенты.
                    </li>
                    <li>
                        Постоянно возрастающее качество работы искусственного интеллекта и усовершентсвованные алгоритмы
                        позволят добиться самодостаточности в операциях и в создании стоимости на платформе.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/automation.svg') %>" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>