<section class="blc-zero bg-blue mh750" id="zero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-block">
                <h2 class="title">Ориентированность на пользователя</h2>
                <p class="justify">

                    Понимание и возможность сравнивать различные виды страховок может быть сложным и затратным по
                    времени делом.
                    Asure позволяет значительно упростить понимание страховых продуктов. Мы достигаем этой цели
                    посредством комбинации различных техник для анализа и визуализации данных, калькуляторов страховых
                    продуктов, а также чат-ботов на основе искусственного интеллекта.
                    <!--
                    Взаимодействие между пользователями и платформой раелизовано удобным образом при использовании
                    средств коммуникации и использованием искусственного интеллекта, позволяющих всё время быть на
                    связи.
                    -->
                </p>
            </div>
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/customer-centric.svg') %>" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>