<section class="blc-three bg-green mh750" id="three">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/platform.svg') %>" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 content-block">
                <h2 class="title">Экономическая система Asure</h2>
                <p class="justify">
                    Asure предоставляет систему вознаграждений, позволяющую ее пользователям получать выгоду за
                    содействие работе платформы.

                    Экономическая система Asure поддерживает два основных вида вознаграждения: доказательство важности
                    (proof-of-stake) и доказательство активности (proof-of-activity), вознаграждающий пользователей за
                    активность на платформе.
                </p>
                <ul>
                    <li>
                        Пользователи платформы Asure имеют возможность за вознаграждение приглашать друзей.
                    </li>
                    <li>
                        Инвесторы могут покупать риски других людей как часть системы перестрахования и получать
                        вознаграждение за то, что они идут на риск таким образом.
                    </li>
                    <li>
                        Asure является платформой с открытым исходном кодом, которая разрабатывается публично. Любой
                        человек может принять участие в разработке и получить за это вознаграждение.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>