<section class="blc-feature">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Платформа</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        Платформа Asure обеспечивает прочную основу для широкого спектра страховых решений и продуктов. Это позволяет отдельным лицам, предприятиям и правительствам разрабатывать, использовать и поддерживать решения, отвечающие их потребностям.
                    </p>
                    <p>
                        Платформа Asure - Open Source (лицензия MIT), а разработка находится в открытом доступе для общественности. Фонд Asure вместе с сообществом Open Source обеспечит будущий рост платформы. Поэтому Фонд Asure определяет открытые стандарты (AIP) в страховой отрасли, которые используют платформу Asure и технологию Blockchain для облегчения перехода на открытую и децентрализованную страховую инфраструктуру будущего.
                    </p>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <div class="title"> Прозрачность </div>
                        <div class="desc justify">
                            Данные о продуктах и услугах будут открыто доступны для привлечения разработчиков сообществ для поддержки и развитие платформы. Кроме того, Asure может быть легко проанализирован и расширен широким сообществом, поскольку все спецификации и исходный код являются общедоступными. </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-hand-holding-usd"></i>
                            </div>
                        </div>
                        <div class="title"> Снижение затрат</div>
                        <div class="desc justify">
                            Полноценнвя страховая платформа с расширенными, но простыми в использовании функциями для посетителей, включая интеллектуальную аналитику, искусственный интеллект, машинное обучение и надежную, независимую экономику на основе интелигентных договоров, которые уменьшают административные издержки на 98%.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-magic"></i>
                            </div>
                        </div>
                        <div class="title"> Гибкость </div>
                        <div class="desc justify">
                            Мы считаем, что страхование является одним из основных прав человека. Новые продукты могут быть предоставлены для всех в этом мире. На свободном и саморегулируемом рынке преобладают лучшие услуги и продукты.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
