<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Pillars of social security</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 justify">
                <p>
                    Many countries have or plan to introduce additional social security systems. In the future we want
                    to
                    help to bring these systems to Asure platform to increase security and transparency and to reduce
                    costs.
                </p>
            </div>
        </div>


        <div class="row features">
            <div class="col-md-6 col-lg-4">
                <div class="item flip-container">
                    <div class="front">
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-blind"></i>
                            </div>
                        </div>
                        <div class="title">Pension insurance</div>
                    </div>
                    <div class="back">
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="desc justify text-small">
                            The administrative expenses for german pension insurance total on 3.85
                            billion € in 2016 which can be significantly reduced by using a
                            blockchain-based solution.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item flip-container">
                    <div class="front">
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-building"></i>
                            </div>
                        </div>
                        <div class="title">Unemployment insurance</div>
                    </div>
                    <div class="back">
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="desc justify text-small">
                            It is not always easy to hold a job. Asure will provide coverage.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item flip-container">
                    <div class="front">
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-band-aid"></i>
                            </div>
                        </div>
                        <div class="title">Accident insurance</div>
                    </div>
                    <div class="back">
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="desc justify text-small">
                            Access to immediate financial help in case of having an accident.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item flip-container">
                    <div class="front">
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-ambulance"></i>
                            </div>
                        </div>
                        <div class="title">Health insurance</div>
                    </div>
                    <div class="back">
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="desc justify text-small">
                            Providing financial help to fully recover from illnesses.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item flip-container">
                    <div class="front">
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-bed"></i>
                            </div>
                        </div>
                        <div class="title">Nursing care insurance</div>
                    </div>
                    <div class="back">
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="desc justify text-small">
                            Nursing care insurance covers care not covered by health
                            insurance.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item flip-container">
                    <div class="front">
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-align-justify"></i>
                            </div>
                        </div>
                        <div class="title">Other insurance</div>
                    </div>
                    <div class="back">
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="desc justify text-small">
                            We believe that every risk can and should be insured.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>