<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Решения</h1>
        </div>
    </div>
    <div class="solutions">
        <div class="container">

            <div class="row">
                <div class="offset-lg-2 col-lg-8 justify">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0 justify default-text">
                            "Мы сделаем возможным  правительствам всего мира создавать системы социального обеспечения с оплатой по мере необходимости и переносить существующие системы на платформу Asure, чтобы они могли использовать преимущества технологии блокчейн."
                        </p>
                        <footer class="blockquote-footer"><cite title="Paul Mizel, CEO">Paul Mizel, CEO</cite></footer>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 justify">
                    <div class="row row-padding">
                        <div class="col-sm-8 col-lg-6">
                            <h6> Системы социального страхования </h6>
                            <p>
                                Во многих странах существуют системы социального обеспечения, которые обеспечивают основные потребности безработных, больных или пенсионеров.
                            </p>
                            <p>
                                Системы Pay-as-you-go могут использоваться для финансирования систем социального обеспечения. Премии используются для прямой выплаты пособий, без накопления резерва или небольшой резерв. В отличие от частных страховых компаний, страны могут гарантировать непрерывные премии за счет внедрения систем социального обеспечения и, следовательно, не нуждаются в резервном капитале.
                            </p>
                            <p>
                                Из-за их масштаба и долговечности административные расходы на системы социального обеспечения чрезвычайно высоки. Используя технологию блокчейн и платформу Asure, мы можем сократить расходы и создать безопасные системы для миллионов людей.

                            </p>
                        </div>
                        <div class="col-sm-4 col-lg-6">
                            <img src="/content/img/flags.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                    </div>

                    <div class="row row-padding">
                        <div class="col-sm-4 col-lg-6 order-2 order-lg-1">
                            <img src="/content/img/blockchain.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-lg-6 order-1 order-lg-2">
                            <h6> Преимущества использования технологии блокчейн </h6>
                            <p>
                                Технология блокчейн предлагает преимущества отслеживания и экономичности. Проще говоря, блокчейн может использоваться для отслеживания движения товаров, их происхождения, количества и т. д. Это обеспечивает новый уровень прозрачности для экосистем Asure - упрощение таких процессов, как передача прав собственности и платежи.
                            </p>
                            <p>
                                В дополнение к прозрачности есть преимущества в сокращении или исключении ненужных затрат для IT-инфраструктуры и сокращении затрат на внутренние и внешние финансовые операции, финансовую отчетность и администрирование.
                            </p>
                            <p>
                                Все транзакции криптографически взаимосвязаны и не поддаются фальсификации, что создает уверенность в экосистеме Asure.                            </p>
                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col-sm-8 col-lg-6">
                            <h6> Пример: немецкое пенсионное страхование </h6>
                            <p>
                                С переходом на так называемый межпоколенческий контракт можно было создать пенсионную систему с выплатой заработной платы, которая впервые позволила бы обеспечить компенсацию заработной платы на основе доходов и взносов для обеспечения средств к существованию в старости.                            </p>
                            <!--
                                                        <h6>Key benefits:</h6>
                                                        <ul>
                                                            <li>Inflation-proof</li>
                                                            <li>Financial crises safe</li>
                                                            <li> Система Pay-as-you-go позволяет действовать в соответствии с текущими тенденциями заработной платы </li>
                                                            <li> Прибыль от производительности труда в экономике </li>
                                                        </ul>
                            -->
                            <p>
                                Сегодня в пенсионную систему Германии входят 53,8 млн. Активных членов (декабрь 2015 г.)
                                и 20,9 млн. пенсионеров (июль 2016 года). В 2016 году пенсионная система составляла 295 млрд. Евро
                                оборудованных, из которых
                                <strong> 3,85 млрд. евро были использованы для административных расходов. </strong>
                            </p>

                            <h6> Доказательство концепта (PoC)</h6>
                            <p>
                                Вскоре мы опубликуем наш РоС немецкой пенсионной системы, который демонстрирует, как реализовать и как использовать технологию blockchain.                            </p>
                        </div>
                        <div class="col-sm-4 col-lg-6">
                            <img src="/content/img/generations.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col-sm-4 col-lg-6 order-2 order-lg-1">
                            <img src="/content/img/world.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-lg-6 order-1 order-lg-2">
                            <h6> Правительства, партнеры по сотрудничеству и исследованиям </h6>
                            <p>
                                Мы ищем правительства и партнеров по сотрудничеству во всем мире, которые заинтересованы во внедрении новых систем социального обеспечения. Мы также заинтересованы в том, чтобы внедрить существующие системы социального обеспечения через blockchain.

                            </p>
                            <p>
                                Пожалуйста, свяжитесь с нами через <a href="mailto:collaboration@asure.io">collaboration@asure.io</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

