<div class="blc-timeline" id="roadmap">
    <div class="container">
        <div class="row example-centered">
            <div class="col-md-12 example-title head">
                <h1 class="title hr">Дорожная карта ASURE</h1>
            </div>
            <div class="col-md-10 offset-md-1">
                <ul class="timeline timeline-centered">
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/labs.png" width="64px" height="64px" alt="Labs Research"><br/>
              2014
            </span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Исследовательская работа</h3>
                            <p class="justify">
                                <b>Май 2014 - исследование технологии блокчейн</b><br/>
                                Первые исследовательские проекты в сотрудничестве с Университетом Прикладных Наук и
                                Искусств Дортмунда для изучения возможностей блокчейна для страховой отрасли, разработка
                                первых прототипов.
                                <br/>
                                <br/><b>Август 2015 - Исследование Искусственного Интеллекта</b><br/>
                                Первые исследовательские проекты на тему Искусственного Интеллекта, Машинного Обучения,
                                Big Data и Прогнозной Аналитики.
                                <br/>
                                <br/><b>Ноябрь 2016 - Лаборатория Искусственного Интеллекта в Киеве</b><br/>
                                Пауль Мицель со своей командой начал изучение прототипа для реализации роботизированного
                                советника на базе Искусственного Интеллекта и полностью автоматизированного чат-асистента
                                Пауль в качестве менеджера продуктов открывает офис в Киеве для координации работ и
                                ускорения разработки.
                                <br/>
                                <br/><b>Апрель 2017 - Исследование Смарт Контрактов</b><br/>
                                Первые научные изыскания на платформе Ethereum и доказательство правильности концепций
                                в области Смарт Контрактов.
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/start.png" width="64px" height="64px" alt="Start"><br/>
              2018</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Фаза 1: Asure и Минимальный Жизнеспособный Продукт</h3>
                            <p class="justify">
                                Пауль Мицель, Фабин Рэтц и Джамаль Шмук основали компанию для реагирования на новые
                                вызовы и работы над идеями с целью с целью сделать мир лучше.
                                Благодаря их опыту в страховой отрасли они осознали необходимость нового типа страховок,
                                основанных на концепции Распределённой Автономной Организации (DAO). Они продолжают
                                работу в выбранном направлении, что приводит к созданию Asure.

                                <br/>
                                <br/><b>Июнь 2018 - Доказательство Правильности Концепции</b><br/>
                                Завершение Доказательства Правильности Концепции

                                <br/>
                                <br/><b>Осень 2018 - ICO</b><br/>
                                ICO препродажа и продажа токенов.

                                <br/>
                                <br/><b>Осень 2018 - Котировка на биржах</b><br/>
                                После продажи токенов станет возможным котировка на биржах.

                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/dev.png" width="64px" height="64px" alt="Development"><br/>
              2019</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Фаза 2: Разработка платформы и Минимальный Жизнеспособный Продукт</h3>
                            <p class="justify">
                                Выпуск первых Предложений к Улучшению Asure (AIPs) и разработка эталонных версий
                                платформы и Минимального Жизнеспособного Продукта, загрузка их в тестовую сеть Ethereum.
                                Предложение платформы для рассмотрения сообществу, работа над ошибками в течение
                                жизненного цикла смарт продуктов.

                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/launch.png" width="64px" height="64px" alt="Launch"><br/>
              2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Фаза 3: Запуск платформы и увеличение сообщества</h3>
                            <p class="justify">
                                Платформа выкладывается в основную сеть Ethereum чтобы сообщество могло вести
                                разработку страховых продуктов.
                                Экосистема Asure масштабируется и расширяется посредством актуальных
                                инструментов: AsureScan, AsureWallet, AsureBot, AsureId, AsureClaims.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/ops.png" width="64px" height="64px" alt="Operations"><br/>
              2023+</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Фаза 4: Глобализация</h3>
                            <p class="justify">
                                Благодаря открытой и расширяемой архитектуре, платформа и лучшие продукты
                                преобладают посредством саморегуляции, происходит широкое внедрение в массы,
                                использование платформы компаниями, властями и правительствами по всему миру.
                                Asure становится лидером в области децентрализованных автономных страховых
                                платформ.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <blockquote class="blockquote text-center"
                            cite="https://www.goodreads.com/quotes/302999-most-people-overestimate-what-they-can-do-in-one-year">
                    <p class="mb-0">
                        "Многие люди переоценивают что они могут сделать за один год и недооценивают что могут
                        сделать за десять лет."
                    </p>
                    <footer class="blockquote-footer"><cite title="Bill Gates">Билл Гейтс</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>