<section class="blc blc-activities bg-full-green" id="activities">
    <div class="container">
        <div class="head">
            <h1 class="title hr white">Activities</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify text-white">
                    Here you will find summaries and articles from the Asure research around social security.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-group">
                    <div class="card">
                        <img src="https://via.placeholder.com/320x150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">German Pension on Blockchain</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://via.placeholder.com/320x150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Asure Network</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://via.placeholder.com/320x150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DEPOT: Decentralized Pension</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>