<section class="blc blc-activities bg-full-green" id="activities">
    <div class="container">
        <div class="head">
            <h1 class="title hr white">Activities</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify text-white">
                    Next to promoting the use of the blockchain technology within the domain of social security, we also support a number
                    of activities and projects. Below you find a summary of some of the activities and projects we support.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-group">
                    <div class="card m-1">
                        <img src="content/img/asure.germanpension.header.png" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">German Pension on Blockchain</h5>
                            <p class="card-text">
                                Creation of a technical feasibility study of the german statutory pension system and a
                                Proof-of-Concept of how
                                it could be implemented on the Ethereum blockchain and the Asure.Network.
                            </p>
                            <a class="btn btn-success mt-auto" href="#" target="_blank"
                               rel="noreferrer noopener">Learn more</a>
                        </div>
                    </div>
                    <div class="card m-1">
                        <img src="content/img/asure.network.header.png" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Asure.Network</h5>
                            <p class="card-text">
                                Development of a scalable blockchain network for decentralized social security built
                                around openness, privacy, and fairness, and brings together individuals, companies and
                                governments in a digital world.
                            </p>
                            <a class="btn btn-success mt-auto"
                               href="https://medium.com/asurenetwork/blockchain-as-the-future-of-social-security-intro-1-5-2a600e64ac7b"
                               target="_blank" rel="noreferrer noopener">Learn more</a>
                        </div>
                    </div>
                    <div class="card m-1">
                        <img src="content/img/asure.depot.header.png" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">DEPOT: Decentralized Pension</h5>
                            <p class="card-text">
                                Propose the development of a blockchain-based, decentralized and globally available
                                pay-as-you-go pension system and show how redistribution of contributions
                                towards pension payments works and how voluntary participation in the pension system is
                                incentivized.
                            </p>
                            <a class="btn btn-success mt-auto" href="#" target="_blank"
                               rel="noreferrer noopener">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>