<div class="blc-about" id="about">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure Airdrop</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8">

<!--
https://www.tokendesk.io/airdrop/
-->

                <br/>    Earn free tokens in Tokendesk community airdrop!
                <br/>
                <br/>    400 000 Token giveaway!
                <br/>    Time left till AirDrop registration closing:
                <br/>    00
                <br/>    days
<br/>
                <br/>    00
                <br/>    hrs
<br/>
                <br/>    00
                <br/>    min
<br/>
                <br/>    00
                <br/>    sec
                <br/>    Hello Token Desk community! Our team has decided to fulfil 400 000 Token Desk Tokens to our current token holders and new community members to get up to 30 TDS. The main reason why are we doing this AirDrop is to reward our appreciated token holders, who hold our tokens no matter if times are rough or good! But new community members won’t be forgotten as well. To participate in the AirDrop you need to follow these simple steps:
<br/>
                <br/>    Join our Telegram group – Join
                <br/>    Follow us on Twitter and retweet our post – Follow
                <br/>    Create account on our platform – Register
                <br/>    By completing these steps you will be rewarded for 6 TDS Tokens. Additionally you can increase your reward by doing few more:
<br/>
                <br/>    +1 TDS Like and Follow our Facebook page  – Like
                <br/>    +1 TDS Follow us on Reddit – Follow
                <br/>    +1 TDS Follow us on Medium – Follow
                <br/>    We truly appreciate our token holders and by thanking them we want to increase AirDrop value 3 times for them! That means Token holders who hold 100 or more TDS tokens will have an opportunity to get 30 TDS tokens from the Airdrop!
<br/>
                <br/>    After filling this form we will email you further details and exact dates of the AirDrop! Thank you for participating and have a good day!
<br/>







                </div>
            </div>
        </div>
    </div>
</div>