<div class="navbar navbar-cookies navbar-expand-lg navbar-light d-none">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    We use cookies to help us improve, promote, and protect our services.
                    By continuing to use the site, you agree to our
                    <a href="<%= fixUrl(current.path, 'cookie-policy/') %>">cookie policy</a>.
                    <a id="acceptCookiePolicy" href="#"><strong>Accept</strong></a>
                </p>
            </div>
        </div>
    </div>
</div>