<section class="blc-council" id="council">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Council</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    The Asure team is a group of insurance and technology experts with decades of
                    experience in the industry. We have worked on cutting-edge blockchain-based
                    projects and projects with focus on artificial intelligence in the context of insurances.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/pmizel.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Paul Mizel</div>
                    <div class="position">President</div>
                    <div class="overlay">
                        <p>
                            <b>Paul Mizel</b> <br/>
                            Paul holds a Master’s Degree with over ten years’ experience in insurance industry.
                            Former Head of Innovation at Insurance Consulting Company.
                            He and his innovation team in Germany and in Ukraine worked on blockchain-related
                            projects since 2014.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/pmizel" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/fraetz.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Fabian Raetz</div>
                    <div class="position">Vice-president</div>
                    <div class="overlay">
                        <p>
                            <b>Fabian Raetz</b> <br/>
                            Fabian has been working for more than 10 years at BROCKHAUS AG. In Paul Mizel’s innovations
                            department he researched cutting edge technologies to improve the insurance industry.

                            In his freetime he supports a number of open-source projects.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/fraetz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/FabianRaetz" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@fabian.raetz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/gschmuck.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Gamal Schmuck</div>
                    <div class="position">Member</div>
                    <div class="overlay">
                        <p>
                            <b>Gamal Schmuck</b> <br/>
                            Gamal has over 5 years' experience in software development in insurance industry and
                            authorities.
                            As a certified Usability Engineer at Fraunhofer Institute, he started to focus mainly on
                            usability engineering to create software which simplifies people's lives.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/gschmuck" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/GamalSchmuck" target="_blank"
                               rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@gschmuck" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/aboehner-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Alexander Böhner</div>
                    <div class="desc">
                        Member
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Alexander Böhner</b> <br/>
                            Alexander is an insurance consultant with 10+ years’ of
                            experience leading engineering teams and developing products and
                            platforms. He worked as Programm Manager at Zurich Insurance SE, Gothar and Signal Iduna.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/alexander-böhner">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>