<section class="blc-donations" id="donations">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Donations</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    blabala
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>