<section class="blc-zero bg-blue mh750" id="zero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-block">
                <h2 class="title">Customer-centric</h2>
                <p class="justify">

                    Understanding and comparing the details of various kinds of insurance can be complicated and time-consuming.
                    At Asure, we make understanding insurance products easy. This will be achieved by a combination of
                    diverse interactive data exploration and visualization techniques, product calculators, and
                    artificial intelligence-driven chatbots.
                    <!--
                    The communication between the platform and the customer is realized in a
                    comfortable digital manner through an artificial intelligence based communication system allowing
                    permanent availability.
                    -->
                </p>
            </div>
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/customer-centric.svg') %>" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>