<section class="blc-one bg-green mh750" id="one">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/blockchain.svg') %>" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 content-block">
                <h2 class="title">Blockchain-based smart contracts</h2>
                <p class="justify">
                    To fulfill our promise of openness about business operation, Asure platform leverages the
                    blockchain technology. Business logic is implemented as smart contracts and is run within the public
                    blockchain of <a href="https://www.ethereum.org/">Ethereum</a>.
                    Due to the unique properties of blockchain technology, the implemented business logic can be inspected and
                    verified by the public. Another advantage is, that smart contracts are tamper-proof.
                </p>
            </div>
        </div>
    </div>
</section>