<section class="blc-three bg-green mh750" id="three">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= fixUrl(current.path, 'content/img/platform.svg') %>" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 content-block">
                <h2 class="title">Asure economy system</h2>
                <p class="justify">
                    Asure offers a reward system which allows its users to make
                    profit by contributing to the platform.

                    Asure economy system supports two basic types of rewards: a proof-of-stake
                    and a proof-of-activity which will reward active participants.
                </p>
                <ul>
                    <li>
                        Users of the Asure platform can invite their friends and get a reward.
                    </li>
                    <li>
                        Investors can buy risks of others as part of our reinsurance system and get a reward for taking
                        risk.
                    </li>
                    <li>
                        Asure platform is open-source and is developed in the public. Anyone can help to improve it
                        which also will be rewarded.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>