<section class="blc-feature">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Platform</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        The Asure platform provides a solid foundation for a broad spectrum of insurance solutions and
                        products. It enables individuals, companies, and governments to develop, run and maintain
                        solutions which satisfy customers needs.
                    </p>
                    <p>
                        The Asure platform is open-source (MIT licensed) and development is happening in the public.
                        The Asure Foundation, together with the broader community, will ensure the future growth of the
                        platform.
                        Therefore, the Asure Foundation specifies open standards (AIPs) within the insurance industry
                        using the Asure platform and blockchain technology to enables the transition towards an open
                        and decentralized insurance infrastructure of the future.
                    </p>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-eye"></i>
                            </div>
                        </div>
                        <div class="title">TRANSPARENCY</div>
                        <div class="desc justify">
                            Data around products and services will be openly available to engage community developers
                            in platform support and development. Also, Asure can easily be verified and extended
                            by the broader community as all specifications and the source code will be publicly
                            available.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-hand-holding-usd"></i>
                            </div>
                        </div>
                        <div class="title">COST REDUCTION</div>
                        <div class="desc justify">
                            A full insurance platform with advanced, but easy to use functions for
                            participants, including predictive analytics, artificial intelligence, machine learning and
                            robust self-sustaining economy, based on smart contracts that will reduce administrative
                            expenses by up to 98%.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <div style="font-size:3em;" class="gray">
                                <i class="fa fa-magic"></i>
                            </div>
                        </div>
                        <div class="title">FLEXIBILITY</div>
                        <div class="desc justify">
                            We believe that insurance is a fundamental human right.

                            New products can be contributed by and for everyone around the world.
                            In a free and self-regulated market, the best services and products prevail.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>