<section class="blc-feature">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure features</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    Asure specifies open standards within the insurance industry using the blockchain technology and
                    enables the transition towards an open and decentralised insurance infrastructure of the future.
                    Due to the characteristics of the blockchain technology, Asure will enable new and exiting kinds of
                    insurance products and services. Fundamental characteristics of Asure are Openness, Privacy and
                    Fairness.
                </div>
            </div>
        </div>
        <div class="features">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <img src="<%= fixUrl(current.path, 'content/img/icons8-touchscreen-smartphone-50.png') %>"
                                 alt="OPENNESS">
                        </div>
                        <div class="title">OPENNESS</div>
                        <div class="desc">
                            Asure promotes open data. Data around products and services should be openly available to
                            profit the whole ecosystem.
                            This will enable the development of a rich ecosystem of insurance services and products
                            built on
                            data analysis, prediction and ai solutions.

                            Also, Asure can easily be verified and extended by the broader community as all
                            specifications and source codes will be publicly available.



                            <!--

                               Asure providing the ecosystem everybody can use avaible data, services, tolls and specifications to extend the system
                            and scale the whole development globally and extrimly fast.

                            wich can be

                            We are confident that openness will prevail, both locally and globally.

                            We are certain that openness towards enlargement will prevail.
                            Through self-regulation, the best concepts in the mainstream platform become one of the best
                            ecosystems, both locally and globally.


                            The access to whole ecosystem data is open and avaibele

                            Openness is the humen right

                            The more data available,
                            the better it can be understood by everyone - not just by the insurer. This will enable all
                            kinds of business use cases which have free access to

                            This enables all kinds
                            of interesting big data analysis and predictions which


                            Products become
                            transparent to the network and can be compared and analyzed so that people find the best
                            products and
                            services that fits their needs. Tools can be developed to assist.


                            Asure will leverage public blockchain technology and therefore will


                            Everything will be developed in the


                            Also, Asure can easily be verified by the broader community as all
                            operational data, source codes and product specifications will be publicly available.
                            We will provide tools to generate detailed reports and analysis to give deep
                            insights into the available data.

                            <i>
                                Offen platform für jeden,
                                jeder kann die Produkte designen, die community soll sich selbst regulieren
                                dadurch erreicht die platform die globale und schnelle skalierung,
                                und durch die transparenz auch die nötige fairnis
                            </i>
                            -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <img src="<%= fixUrl(current.path, 'content/img/if_Server_858733.svg') %>" alt="PRIVACY">
                        </div>
                        <div class="title">PRIVACY</div>
                        <div class="desc">
                            Private data belonging to users will never be made publicly available. The Asure platform
                            enforces a strong separation between publicly available and personal data and complying with global
                            security and privacy standards like ISO 27001.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <div class="image">
                            <img src="<%= fixUrl(current.path, 'content/img/if_Connection_858714.svg') %>"
                                 alt="FAIRNESS">
                        </div>
                        <div class="title">FAIRNESS</div>
                        <div class="desc">
                            At Asure, we believe that insurance is a fundamental human right.
                            We want to give everyone in the world access to the insurance market.
                            In a free and self-regulated market, the best services and products prevail.
<!--
                            <i>Selbstregulierter Markt,
                                Offener Design und jedem ist der zugang einfach
                                Tools auch auf basis der offenheit und auswertbarkeit,m
                                vergleichbarkeit.
                                die fairnis ständig verbessern


                                By building up a self-regulated platform and equilibrium
                            </i>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>