<div class="blc-footer" id="customFooter">
    <div class="container">
        <%- partial("_social_row") %>

        <div class="row">
            <div class="col-md-6 links">
                <div class="title">NAVIGATION</div>
                <ul>
                    <% for(var i in footerLinks){ %>
                        <li>
                            <a href="<%= footerLinks[i].url %>">
                                <%= footerLinks[i].title %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col-md-6" id="contacts">
                <div class="title">CONTACT</div>
                <div class="address">
                    <p>
                        Asure Foundation <br>
                        c/o Immobörse GmbH <br>
                        Baarerstrasse 112 <br>
                        6300 Zug, Switzerland
                    </p>

                    <p>
                        <br> E-Mail: info(at)asure.io
                    </p>
                </div>


            </div>

        </div>

    </div>
</div>

<footer id="footer">
    <div class="copyright">
        &copy; 2018-2019 Asure Foundation — Made with
        <i class="fa fa-heart fa-beat red"></i> in Switzerland
    </div>
</footer>

<nav class="navbar-footer fixed-bottom">
    <%- partial("_cookies") %>
</nav>