<div class="blc-graph" id="graph">
<div class="container">
  <div class="head">
    <h1 class="title hr">ASR token distribution</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!--<img src="<%= fixUrl(current.path,'content/img/graph.png') %>" alt="" class="img-fluid">-->

      <div id="graph_chart" style="height: 250px;" class="img-fluid">
      </div>

    </div>
    <div class="col-md-8">
      <div class="row item">
        <div class="col-md-3">
          <div class="name">Token Pre/Main Sale</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">60%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 60%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ hide">6,000,000,000 ASR</div>
        </div>
      </div>
      <div class="row item team">
        <div class="col-md-3">
          <div class="name">Team</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">15%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 15%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ hide">1,500,000,000 ASR</div>
        </div>
      </div>
      <div class="row item expansion">
        <div class="col-md-3">
          <div class="name">Community & Expansion</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">15%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 8%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ hide">1,500,000,000 ASR</div>
        </div>
      </div>
      <div class="row item partners">
        <div class="col-md-3">
          <div class="name">Advisors</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">5%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 8%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ hide">500,000,000 ASR</div>
        </div>
      </div>
      <div class="row item bounties">
        <div class="col-md-3">
          <div class="name">Bounties</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">5%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 5%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ hide">500,000,000 ASR</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          The majority of ASR tokens will be available in a public crowdsale starting on September 15, 2018
          with a minimum investment goal of 10.000 ETH and maximum investment cap of 500.000 ETH.
        </div>
      </div>
    </div>
  </div>
</div>
</div>