<div class="blc-graph" id="graph">
    <div class="container">
        <div class="head">
            <h1 class="title hr">ASR TOKEN</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    Asure tokens (ASR) are the native tokens of the Asure platform and allow users to interact with the
                    platform. We create a utility token with a deflation mechanism as suggested by Vitalik Buterin.
                    Asure tokens can be used to purchase insurance services within the Asure ecosystem.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h2>ASR TOKEN DISTRIBUTION</h2>
                <p class="justify">
                    The majority of ASR tokens will be available in a public crowdsale starting in fall 2018
                    with a hard cap of $40 Mio.
                </p>
                <div class="col-md-12">
                    <table class="table table-sm table-responsive dist">
                        <tr>
                            <td class="bg-color1" style="width: 65%;">60%</td>
                            <td class="bg-color2" style="width: 10%;">10%</td>
                            <td class="bg-color3" style="width: 2%;">5%</td>
                            <td class="bg-color4" style="width: 3%;">5%</td>
                            <td class="bg-color5" style="width: 2%;">5%</td>
                            <td class="bg-color6" style="width: 2%;">5%</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">
                    <div class="row item">
                        <div class="col-md-3">
                            <div class="name">
                                Token Sale
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="summ">60,000,000 ASR</div>
                        </div>
                        <div class="col-md-1">
                            <div class="parcent">60%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row item team">
                        <div class="col-md-3">
                            <div class="name">Team</div>
                        </div>
                        <div class="col-md-4">
                            <div class="summ">10,000,000 ASR</div>
                        </div>

                        <div class="col-md-1">
                            <div class="parcent">10%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 10%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row item expansion">
                        <div class="col-md-3">
                            <div class="name">Reserved</div>
                        </div>
                        <div class="col-md-4">
                            <div class="summ">1,500,000 ASR</div>
                        </div>
                        <div class="col-md-1">
                            <div class="parcent">15%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 8%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row item partners">
                        <div class="col-md-3">
                            <div class="name">Advisors</div>
                        </div>
                        <div class="col-md-4">
                            <div class="summ">500,000,000 ASR</div>
                        </div>
                        <div class="col-md-1">
                            <div class="parcent">5%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 8%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row item bounties">
                        <div class="col-md-3">
                            <div class="name">Bounties</div>
                        </div>
                        <div class="col-md-4">
                            <div class="summ">500,000,000 ASR</div>
                        </div>

                        <div class="col-md-1">
                            <div class="parcent">5%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 5%;"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-lg-6">
                <h2>USE OF PROCEEDS</h2>
                <p class="justify">
                    We envision that ETH derived from the sale of Asure utility tokens ("ASR") will be allocated in the
                    following manner.
                </p>

                <div class="col-md-12">
                    <table class="table table-sm table-responsive dist">
                        <tr>
                            <td class="bg-color1" style="width: 65%;">60%</td>
                            <td class="bg-color2" style="width: 10%;">10%</td>
                            <td class="bg-color3" style="width: 2%;">5%</td>
                            <td class="bg-color4" style="width: 3%;">5%</td>
                            <td class="bg-color5" style="width: 2%;">5%</td>
                            <td class="bg-color6" style="width: 2%;">5%</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">
                    <div class="row item">
                        <div class="col-md-7">
                            <div class="name">Platform Development</div>
                        </div>
                        <div class="col-md-1">
                            <div class="parcent">55%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 55%;"></div>
                            </div>
                        </div>

                    </div>
                    <div class="row item legal">
                        <div class="col-md-7">
                            <div class="name">Legal</div>
                        </div>
                        <div class="col-md-1">
                            <div class="parcent">15%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 15%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row item marketing">
                        <div class="col-md-7">
                            <div class="name">Marketing</div>
                        </div>
                        <div class="col-md-1">
                            <div class="parcent">15%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 15%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row item tax">
                        <div class="col-md-7">
                            <div class="name">Tax</div>
                        </div>
                        <div class="col-md-1">
                            <div class="parcent">10%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 10%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row item office">
                        <div class="col-md-7">
                            <div class="name">Office Expenses</div>
                        </div>
                        <div class="col-md-1">
                            <div class="parcent">5%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="grp">
                                <div class="in" style="width: 5%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 justify small-text">
                <br/>
                Due to legal restrictions citizens and residents from the following countries are not eligible to
                acquire ASR tokens: American Samoa, Belarus, Burundi, Central African Republic, Cuba, Congo
                (Brazzaville), Congo (Kinshasa), Guam, Iraq, Iran, Lebanon, Libya, Northern Mariana Islands, North
                Korea, Puerto Rico, Somalia, Sudan, South Sudan, Syria, United States, US Virgin Islands, US Minor
                Outlying Islands, Venezuela, Yemen, Zimbabwe.
            </div>
        </div>

    </div>
</div>