<div class="blc-graph" id="graph">
<div class="container">
  <div class="head">
    <h1 class="title h2">
      Use of Proceeds
      </h1>
    <p>
      We envision that ETH derived from the sale of
      Asure utility tokens ("ASR") <br/>
      will be allocated in the following manner.
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!--<img src="<%= fixUrl(current.path,'content/img/graph.png') %>" alt="" class="img-fluid">-->
      <div id="graph_allocation_chart" style="height: 250px;" class="img-fluid">
      </div>
    </div>
    <div class="col-md-8">
      <div class="row item">
        <div class="col-md-3">
          <div class="name">Platform Development</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">55%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 55%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ">&nbsp;</div>
        </div>
      </div>
      <div class="row item legal">
        <div class="col-md-3">
          <div class="name">Legal</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">15%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 15%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ">&nbsp;</div>
        </div>
      </div>
      <div class="row item marketing">
        <div class="col-md-3">
          <div class="name">Marketing</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">15%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 15%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ">&nbsp;</div>
        </div>
      </div>
      <div class="row item tax">
        <div class="col-md-3">
          <div class="name">Tax</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">10%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 10%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ">&nbsp;</div>
        </div>
      </div>
      <div class="row item office">
        <div class="col-md-3">
          <div class="name">Office Expenses</div>
        </div>
        <div class="col-md-1">
          <div class="parcent">5%</div>
        </div>
        <div class="col-md-5">
          <div class="grp">
            <div class="in" style="width: 5%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="summ">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>