<section class="blc-hero" id="hero">
<div class="blc-hero__background">
  <!--
    <iframe src="header/index.html" width="100%" height="700px" frameborder="0" title="hero"></iframe>
  -->
</div>
<div class="container">
  <div class="hero">
    <img src="logo\asure-logo.svg" alt="Asure Logo" width="150px" class="d-none d-sm-inline">
    <h1 class="title">ASURE</h1>
    <div class="entry">
      <h2>
        We’re an innovative nonprofit that research and develop
        <br/>
        <a href="https://asure.network">decentralized social security network</a>
        <span style="display: none">,
        and empowers people like you to understand and increase decentralization ability to improve the world.
        </span>
      </h2>

      <p>
        <img src="content/img/made-in-germany.png" alt="made-in-germany">
        <br/>
        MADE IN GERMANY
      </p>
    </div>
  </div>
</div>
</section>
