<section class="blc-hero" id="hero">
<div class="blc-hero__background">
  <!--
    <iframe src="header/index.html" width="100%" height="700px" frameborder="0" title="hero"></iframe>
  -->
</div>
<div class="container">
  <div class="hero">
    <img src="logo\asure-logo.svg" alt="Asure Logo" width="150px" class="d-none d-sm-inline">
    <h1 class="title">ASURE</h1>
    <div class="entry">
      <h2>
        Open decentralized autonomous insurance platform
      </h2>

      <p>
        <img src="content/img/made-in-germany.png" alt="made-in-germany">
        <br/>
        MADE IN GERMANY
      </p>
    </div>
    <div class="call-to-action">

      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <img src="content/img/introLoginEmpty.png" alt="asure app" class="img img-fluid" style="max-width: 300px"/>
          <br/><br/>
          <a href="https://play.google.com/store/apps/details?id=io.asure.dapp" target="_blank" rel="noopener" >
            <img src="content/img/google_play.png" alt="google store" style="height: 50px"/>
          </a>
          <br/><br/>
          <a href="/asure_io_whitepaper_en.pdf" target="_blank" rel="noopener">
            <img src="content/img/asure_whitepaper.png" alt="asure whitepaper" style="height: 50px"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>