<section class="blc blc-hero bg-blue" id="about">
    <div class="container">
        <div class="hero pt-5">
            <div class="head">
                <h1 class="title hr">Asure Foundation</h1>
                <div class="row">
                    <div class="offset-md-2 col-md-8 justify">
                        Asure Foundation is a non-profit organization and incorporated in Zug, Switzerland.
                        The purpose of the organisation is the research and development of social security,
                        to create solutions that are build around <b>openness</b>, <b>privacy</b>
                        and <b>fairness</b>, and that brings together individuals, companies
                        and governments in a digital world.
                    </div>
                </div>
            </div>
            <div class="about">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-group">
                            <div class="card m-3">
                                <div class="card-header"><h5 class="text-center">What is your the Vision?</h5></div>
                                <div class="row no-gutters">
                                    <div class="col-lg-2 d-none d-lg-block">
                                        <div class="card-body gray">
                                            <i class="fa fa-lightbulb"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="card-body">
                                            <p class="card-text">
                                                People around the world enjoy their lives without having to worry about
                                                any risks or losses.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-header"><h5 class="text-center">Who is behind Asure?</h5></div>
                                <div class="row no-gutters">
                                    <div class="col-lg-2 d-none d-lg-block">
                                        <div class="card-body gray">
                                            <i class="fa fa-users"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="card-body">
                                            <p class="card-text">
                                                The Asure foundation is supported by a group of insurance and
                                                technology experts with decades of
                                                experience in the industry. We have worked on projects with Distributed
                                                Ledger
                                                Technology
                                                and projects with a focus on artificial intelligence in the context of
                                                insurance.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-group">
                            <div class="card m-3">
                                <div class="card-header"><h5 class="text-center">Why Asure Foundation?</h5></div>
                                <div class="row no-gutters">
                                    <div class="col-lg-2 d-none d-lg-block">
                                        <div class="card-body gray">
                                            <i class="fa fa-rocket"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="card-body">
                                            <p class="card-text">
                                                It is the foundation's goal to showcase and assist in how solutions will be
                                                developed. Therefore the foundation is doing active research
                                                and will share their findings with the broader community by
                                            </p>
                                            <ul class="ul">
                                                <li>proposing specifications</li>
                                                <li>providing reference implementations</li>
                                                <li>ensure the future growth of the Asure ecosystem</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-header"><h5 class="text-center">What problems do you solve?</h5></div>
                                <div class="row no-gutters">
                                    <div class="col-lg-2 d-none d-lg-block">
                                        <div class="card-body gray">
                                            <i class="fa fa-signal"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="card-body">
                                            <p class="card-text">
                                              There are over <span
                                                    data-toggle="popover"
                                                    title="World social protection report 2017-2019"
                                                    data-placement="bottom"
                                                    data-trigger="hover"
                                                    data-content="Universal social protection to
achieve the sustainable development goals, International Labour Office,
Geneva, 2nd edition, 2017."><strong>4.1 billion people worldwide</strong></span> without access to social security systems.
                                            </p>
                                            <p class="card-text">
                                              Corruption burden in more than
                                              <a href='www.transparency.org/cpi2017' target='_blank'>
                                              <span
                                                      data-toggle="popover"
                                                      title="Corruption Index 2017"
                                                      data-placement="bottom"
                                                      data-trigger="hover"
                                                      data-html="true"
                                                      data-content="Corruption Index 2017, TRANSPARENCY INTERNATIONAL, Berlin, 2017.
                                                      <br/><b>www.transparency.org/cpi2017</b>"
                                              >
                                                <strong>
                                                two-thirds of countries</strong></a>.
                                            </span>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
