<section class="blc blc-hero bg-blue" id="about">
<div class="blc-hero__background">
  <!--
    <iframe src="header/index.html" width="100%" height="700px" frameborder="0" title="hero"></iframe>
  -->
</div>
<div class="container">
  <div class="hero pt-5">
    <div class="head">
      <h1 class="title hr">Asure Foundation</h1>
      <div class="row">
        <div class="offset-md-2 col-md-8 justify">
          Asure Foundation is a non-profit organization and incorporated in Zug, Switzerland.
          The purpose of the organisation is the research and development of social security,
          to create solutions that are build around <b>openness</b>, <b>privacy</b>
          and <b>fairness</b>, and that brings together individuals, companies
          and governments in a digital world.
        </div>
      </div>
    </div>
    <div class="about">
      <div class="row">
        <div class="col-md-6">
          <div class="item">
            <div style="font-size:3em;position: absolute;" class="gray">
              <i class="fa fa-lightbulb"></i>
            </div>

            <div class="title">What is the Vision?</div>
            <p>
              People around the world enjoy their lives without having to worry about any risks or
              losses.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="item">
            <div style="font-size:3em;position: absolute;" class="gray">
              <i class="fa fa-users"></i>
            </div>
            <div class="title">Who is behind Asure?</div>
            <p>
              The Asure team is a group of insurance and
              technology experts with decades of
              experience in the industry. We have worked on projects with Distributed Ledger Technology
              and projects with a focus on artificial intelligence in the context of insurance.
            </p>

          </div>
        </div>

        <div class="col-md-6">
          <div class="item">
            <div style="font-size:3em;position: absolute;" class="gray">
              <i class="fa fa-rocket"></i>
            </div>

            <div class="title">Why Asure Foundation?</div>
            <p>
              It is the foundation's goal to showcase and assist in how solutions will be
              developed. Therefore the foundation is doing active research
              and will share their findings with the broader community by
            </p>
            <ul class="ul">
              <li>proposing specifications</li>
              <li>providing reference implementations</li>
              <li>ensure the future growth of the Asure Ecosystem</li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="item">
            <div style="font-size:3em;position: absolute;" class="gray">
              <i class="fa fa-signal"></i>
            </div>
            <div class="title">How will we scale?</div>
            <p>
              As former business and IT specialists, we have access to consulting companies that will
              help to accelerate the development in early stages of the project.
            </p>
            <p>
              We're also partnering up with well-established companies and international research
              communities within the insurance industry to build up an entire ecosystem around Asure.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
