<section class="blc-ico" id="ico">
    <div class="container">
        <div class="head">
            <h1 class="title">ICO CROWD SALE</h1>
        </div>

        <div class="ico">
            <div class="row">
                <div class="col-md-6">
                    <div id="mc_embed_signup">
                        <form action="https://asure.us17.list-manage.com/subscribe/post?u=934c8a5f49ce69acfe8f99c16&amp;id=f60f297166"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate" target="_blank" novalidate="" rel="noopener">
                            <div id="mc_embed_signup_scroll">
                                <div class="row">
                                    <div>
                                        <div class="head">
                                            <div class="sub" style="text-align:left">
                                                <!--<label for="mce-EMAIL">SUBSCRIBE</label>-->
                                                Stay in touch
                                            </div>
                                            <div>
                                                Enter your email address to receive news, updates about Asure, and
                                                all relevant Asure events.
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="email" value="" name="EMAIL"
                                               class="form-control form-control-lg" id="mce-EMAIL"
                                               placeholder="Email address" required="">
                                        <input type="submit" value="SUBSCRIBE" name="subscribe"
                                               id="mc-embedded-subscribe" class="btn btn-lg btn-primary btn-block">
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_934c8a5f49ce69acfe8f99c16_f60f297166"
                                               tabindex="-1" value="">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link active" href="#tab-info" aria-controls="messages" role="tab"
                                       data-toggle="tab">
                                        Info
                                    </a>
                                </li>
                                <!--
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-presale" aria-controls="home" role="tab"
                                       data-toggle="tab">
                                        Presale
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-crowdsale" aria-controls="profile" role="tab"
                                       data-toggle="tab">
                                        Crowdsale
                                    </a>
                                </li>-->
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab-info">
                                    <br/>
                                    The token pre-sale will start in fall 2018.
                                    <br/><br/>

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Classification</td>
                                            <td class="text-left text-md-right orange">Utility Token</td>
                                        </tr>
                                        <tr>
                                            <td>Type</td>
                                            <td class="text-left text-md-right orange">ERC20 Token</td>
                                        </tr>
                                        <tr>
                                            <td>Total Token Supply</td>
                                            <td class="text-left text-md-right orange">1,000,000,000*</td>
                                        </tr>
                                        <tr>
                                            <td>Hard Cap</td>
                                            <td class="text-left text-md-right orange">$40,000,000 / 600,000,000
                                                TOKENS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Price</td>
                                            <td class="text-left text-md-right orange">1 ETH = 750 ASR</td>
                                        </tr>
                                        <tr>
                                            <td>Dates</td>
                                            <td class="text-left text-md-right orange">Fall 2018</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    * - All unsold tokens will be burned

                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-presale">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis
                                    consectetur deleniti, excepturi ipsam magnam molestiae necessitatibus perferendis
                                    quae repellat sapiente tempore! A ab accusamus cum fuga necessitatibus, officia
                                    quisquam?
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-crowdsale">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut deleniti dolore, eius
                                    error esse est illum ipsa laudantium nam, numquam, ratione ullam veniam veritatis!
                                    Delectus dolores et maxime soluta ullam.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
