<section class="blc-news bg-blue" id="news">
    <div class="head">
        <h1 class="title hr">Stay in touch</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 offset-lg-3 content-block">
                <h2 class="title"> </h2>
                <p>Enter your email address to receive news and updates about Asure and our upcoming ICO.</p>

                <form class="form-inline"
                      action="https://asure.us17.list-manage.com/subscribe/post?u=934c8a5f49ce69acfe8f99c16&amp;id=f60f297166"
                      method="post" target="_blank" rel="noopener" novalidate="">
                    <div class="form-group mb-2">
                        <label for="EMAIL" class="sr-only">Email</label>
                        <input type="email" value="" name="EMAIL" id="EMAIL" class="form-control"
                               placeholder="Email address" required="">
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div class="hidden" aria-hidden="true">
                        <input type="text" name="b_934c8a5f49ce69acfe8f99c16_f60f297166" tabindex="-1" value="">
                    </div>
                    <input type="submit" value="SUBSCRIBE" name="subscribe" class="btn btn-primary mb-2">
                </form>
            </div>
        </div>
        <%- partial("_social_row") %>
    </div>
</section>