<nav class="navbar navbar-social navbar-light d-sm-flex">
    <div class="container">
        <form class="form-inline"
              action="https://asure.us17.list-manage.com/subscribe/post?u=934c8a5f49ce69acfe8f99c16&amp;id=f60f297166"
              method="post" target="_blank" rel="noopener" novalidate="">
            <span class="d-none d-lg-inline" style="color: #fff;padding-right: 10px;">Stay in touch</span>
            <input type="email" value="" name="EMAIL" class="form-control mr-sm-2"
                   placeholder="Email address" required="">

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div class="hidden" aria-hidden="true">
                <input type="text" name="b_934c8a5f49ce69acfe8f99c16_f60f297166" tabindex="-1" value="">
            </div>
            <input type="submit" value="SUBSCRIBE" name="subscribe" class="btn btn-primary my-2 my-sm-0">
        </form>

        <div class="d-none d-md-flex navbar-social-container">
            <div class="fb-like" data-href="https://www.facebook.com/asureteam" data-layout="button" data-action="like"
                 data-size="large" data-show-faces="true" data-share="true"></div>
            <div id="fb-root"></div>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v3.0';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <a href="https://twitter.com/Asure_io?ref_src=twsrc%5Etfw" class="twitter-follow-button"
               data-show-count="false"
               data-size="large">
                Follow @Asure_io
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</nav>