<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Solutions</h1>
        </div>
    </div>
    <div class="solutions">
        <div class="container">

            <div class="row">
                <div class="offset-lg-2 col-lg-8 justify">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0 justify default-text">
                            "We will enable governments around the world to establish pay-as-you-go social security
                            systems and assist in migrating existing ones to the Asure platform so they take advantage
                            of the blockchain technology."
                        </p>
                        <footer class="blockquote-footer"><cite title="Paul Mizel, CEO">Paul Mizel, CEO</cite></footer>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 justify">
                    <div class="row row-padding">
                        <div class="col-sm-8 col-lg-6">
                            <h6>Pay-as-you-go social security systems</h6>
                            <p>
                                Many countries have social security systems providing basic needs to citizens who are
                                unemployed, ill or retired.
                            </p>
                            <p>
                                Pay-as-you-go systems can be used to fund social security systems. Premiums will be used
                                to pay benefits directly and no or a small reserve is build. Countries, in difference
                                to
                                private insurance companies, can guarantee continuous premiums by making social security
                                systems mandatory and therefore don't need coverage capital.
                            </p>
                            <p>
                                Due to their scale and longevity, administrative expenses of social security systems are
                                extremely high. By leveraging the blockchain technology and the Asure platform we are
                                able to cut costs and build secure systems for million of people.
                            </p>
                        </div>
                        <div class="col-sm-4 col-lg-6">
                            <img src="/content/img/flags.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                    </div>

                    <div class="row row-padding">
                        <div class="col-sm-4 col-lg-6 order-2 order-lg-1">
                            <img src="/content/img/blockchain.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-lg-6 order-1 order-lg-2">
                            <h6>Advantages through the use of blockchain</h6>
                            <p>
                                The blockchain technology offers the benefits of traceability and cost-effectiveness.
                                Put simply, a blockchain can be used to track the movement of goods,
                                their origin, quantity and so forth.
                                This brings about a new level of transparency to Asure ecosystems -
                                simplifying processes such as ownership transfer and payments.
                            </p>
                            <p>
                                In addition to transparency, there are also advantages in reducing or avoiding
                                unnecessary costs for IT infrastructure and reducing the costs for internal and external
                                financial transactions, financial reporting and administration.
                            </p>
                            <p>
                                All transactions are cryptographically coupled and forgery-proof, which creates trust in
                                the Asure ecosystem.
                            </p>
                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col-sm-8 col-lg-6">
                            <h6>Case Study: German pay-as-you-go pension system</h6>
                            <p>
                                With the conversion to the so-called generation contract, it was possible to set up an
                                pay-as-you-go pension system that for the first time made income and
                                contribution-related wage
                                compensation benefits possible in order to secure a livelihood in old age.
                            </p>
                            <!--
                                                        <h6>Key benefits:</h6>
                                                        <ul>
                                                            <li>Inflation-proof</li>
                                                            <li>Financial crises safe</li>
                                                            <li>Pay-as-you-go system enable to act in line with current salary trends</li>
                                                            <li>Profit from the productivity progress of the economy</li>
                                                        </ul>
                            -->
                            <p>
                                Today, the german pension system includes 53.8 million active insureds (Dec. 2015) and
                                20.9 million retirees (Jul. 2016). In 2016, the pension system was in charge of 295
                                billion euros from which
                                <strong>3.85 billion euros have been used for administrative expenses</strong>.
                            </p>

                            <h6>Proof of Concept (PoC)</h6>
                            <p>
                                Soon, we will publish our PoC of the german pension system which demonstrates how to
                                implement and take advantage of the blockchain technology.
                            </p>
                        </div>
                        <div class="col-sm-4 col-lg-6">
                            <img src="/content/img/generations.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col-sm-4 col-lg-6 order-2 order-lg-1">
                            <img src="/content/img/world.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-lg-6 order-1 order-lg-2">
                            <h6>Governments, collaboration and research partners</h6>
                            <p>
                                We are looking for governments and collaboration partners around the world
                                that are interested in introducing new social security systems. Also we are interested
                                in
                                lifting current social security systems to the blockchain.
                            </p>
                            <p>
                                Please contact us via <a href="mailto:collaboration@asure.io">collaboration@asure.io</a>.
                            </p>
                        </div>
                    </div>

                    <div class="head">
                        <h2 class="title hr">Overview of social security systems</h2>
                    </div>

                    <div class="row features">
                        <div class="col-lg-2">
                            <div class="item flip-container">
                                <div class="front">
                                    <div class="circle active"></div>
                                    <div class="circle"></div>
                                    <div class="image">
                                        <div style="font-size:3em;" class="gray">
                                            <i class="fa fa-blind"></i>
                                        </div>
                                    </div>
                                    <div class="title">Pension insurance</div>
                                </div>
                                <div class="back">
                                    <div class="circle"></div>
                                    <div class="circle active"></div>
                                    <div class="desc justify text-small">
                                        The administrative expenses for german pension insurance total on 3.9
                                        billion € in 2017 which can be significantly reduced by using a
                                        blockchain-based solution.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="item flip-container">
                                <div class="front">
                                    <div class="circle active"></div>
                                    <div class="circle"></div>
                                    <div class="image">
                                        <div style="font-size:3em;" class="gray">
                                            <i class="fa fa-building"></i>
                                        </div>
                                    </div>
                                    <div class="title">Unemployment insurance</div>
                                </div>
                                <div class="back">
                                    <div class="circle"></div>
                                    <div class="circle active"></div>
                                    <div class="desc justify text-small">
                                        It is not always easy to hold a job. Asure will provide coverage.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="item flip-container">
                                <div class="front">
                                    <div class="circle active"></div>
                                    <div class="circle"></div>
                                    <div class="image">
                                        <div style="font-size:3em;" class="gray">
                                            <i class="fa fa-band-aid"></i>
                                        </div>
                                    </div>
                                    <div class="title">Accident insurance</div>
                                </div>
                                <div class="back">
                                    <div class="circle"></div>
                                    <div class="circle active"></div>
                                    <div class="desc justify text-small">
                                        Access to immediate financial help in case of having an accident.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="item flip-container">
                                <div class="front">
                                    <div class="circle active"></div>
                                    <div class="circle"></div>
                                    <div class="image">
                                        <div style="font-size:3em;" class="gray">
                                            <i class="fa fa-ambulance"></i>
                                        </div>
                                    </div>
                                    <div class="title">Health insurance</div>
                                </div>
                                <div class="back">
                                    <div class="circle"></div>
                                    <div class="circle active"></div>
                                    <div class="desc justify text-small">
                                        Providing financial help to fully recover from illnesses.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="item flip-container">
                                <div class="front">
                                    <div class="circle active"></div>
                                    <div class="circle"></div>
                                    <div class="image">
                                        <div style="font-size:3em;" class="gray">
                                            <i class="fa fa-bed"></i>
                                        </div>
                                    </div>
                                    <div class="title">Long-time care insurance</div>
                                </div>
                                <div class="back">
                                    <div class="circle"></div>
                                    <div class="circle active"></div>
                                    <div class="desc justify text-small">
                                        Long-term care insurance covers care not covered by health
                                        insurance.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="item flip-container">
                                <div class="front">
                                    <div class="circle active"></div>
                                    <div class="circle"></div>
                                    <div class="image">
                                        <div style="font-size:3em;" class="gray">
                                            <i class="fa fa-align-justify"></i>
                                        </div>
                                    </div>
                                    <div class="title">Other insurance</div>
                                </div>
                                <div class="back">
                                    <div class="circle"></div>
                                    <div class="circle active"></div>
                                    <div class="desc justify text-small">
                                        We believe that every risk can and should be insured.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>