<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Solutions</h1>
            <div class="row">
                <div class="col-md-12 justify">
                    Asure platform supports a wide range of insurance specifications, the first focus is on social
                    insurance
                    for governments and developing countries. Social security in Germany has 125 years of history. We
                    export the german social insurance model to the masses and in particular the
                    governments and make our vision a reality, powered by blockchain innovation.
                    <br/>
                    <h6>Pay-as-you-go systems</h6>
                    bla bla
                    blockchain und governance

                    <br/>
                    <h6>Pension insurance</h6>
                    With the conversion to the so-called generation contract, it was possible to set up an insurance
                    system that for the first time made income and contribution-related wage compensation benefits
                    possible in order to secure a livelihood in old age. Another new feature was the regular adjustment
                    of pensions: From then on, pensions were also oriented to current wage developments and enabled
                    pensioners to participate in the productivity progress of the economy.
                    <br/><br/>
                    Spec: AIP100<br/>
                    Github: PoC
                    <br/><br/>
                    <br/><br/>
                    <h6>Types of social security:</h6>
                    <div class="row features">
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-blind"></i>
                                    </div>
                                </div>
                                <div class="title">Pension insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-building"></i>
                                    </div>
                                </div>
                                <div class="title">Unemployment insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-band-aid"></i>
                                    </div>
                                </div>
                                <div class="title">Accident insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-ambulance"></i>
                                    </div>
                                </div>
                                <div class="title">Health insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-bed"></i>
                                    </div>
                                </div>
                                <div class="title">Nursing care insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-align-justify"></i>
                                    </div>
                                </div>
                                <div class="title">Other insurance</div>
                            </div>
                        </div>
                    </div>


                    <h6>Asure user benefits:</h6>
                    <ul>
                        <li>The German Social security has proven</li>
                        <li>Inflation-proof</li>
                        <li>Financial crises safe</li>
                        <li>Pay-as-you-go system enable to act in line with current salary trends</li>
                        <li>Profit from the productivity progress of the economy</li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="solutions">
            <div class="row">
                <div class="col-md-12">


                </div>
            </div>
        </div>
    </div>
</section>