<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Solutions</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">

                    Why, Focus, User Benefits.

                </div>
            </div>
        </div>
        <div class="solutions">
            <div class="row">
                <div class="col-md-12">
                   Description
                </div>
            </div>
        </div>
    </div>
</section>