<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Solutions</h1>
            <div class="row">
                <div class="col-md-12 justify">
                    Asure platform supports a wide range of insurance products, the first focus is on social insurance
                    for governments and developing countries. Social security in Germany has 125 years of history. We
                    export the german social insurance model to the masses and in particular the
                    governments and make our vision a reality.
                    <br/><br/>
                    <h6>Types of social security:</h6>
                    <ul>
                        <li>Pension insurance</li>
                        <li>Unemployment insurance</li>
                        <li>Accident insurance</li>
                        <li>Health insurance includes maternity, paternity, and child allowances</li>
                        <li>Nursing care insurance</li>
                    </ul>

                    <h6>Focus on pension insurance for our proof-of-concept</h6>
                    With the conversion to the so-called generation contract, it was possible to set up an insurance
                    system that for the first time made income and contribution-related wage compensation benefits
                    possible in order to secure a livelihood in old age. Another new feature was the regular adjustment
                    of pensions: From then on, pensions were also oriented to current wage developments and enabled
                    pensioners to participate in the productivity progress of the economy.
                    <br/><br/>

                    <h6>Asure user benefits:</h6>
                    <ul>
                        <li>The German Social security has proven</li>
                        <li>Inflation-proof</li>
                        <li>Financial crises safe</li>
                        <li>Pay-as-you-go system enable to act in line with current salary trends</li>
                        <li>Profit from the productivity progress of the economy</li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="solutions">
            <div class="row">
                <div class="col-md-12">


                </div>
            </div>
        </div>
    </div>
</section>