<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Solutions</h1>

            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0 justify default-text">
                            "We want to enable governments to setup pay-as-you-go social security systems and
                            assist in migrating existing ones onto the Asure platform so that they will profit from
                            the blockchain technology."
                        </p>
                        <footer class="blockquote-footer"><cite title="Paul Mizel, CEO">Paul Mizel, CEO</cite></footer>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 justify">


                    <div class="row row-padding">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <img src="/content/img/flags.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                    </div>

                    <div class="row row-padding">
                        <div class="col-md-6">
                            <img src="/content/img/nature.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                        <div class="col-md-6">
                            <h6>Pay-as-you-go social security systems</h6>
                            pay as you go von vielen staaten verwendet
                            kein kapitaldeckung da staat für die mitgliederzahl garantiert

                            da gelder nur umverteilt werden eignen sich diese systeme besonders für blockchain basierte
                            lösungen

                            <p>
                                The Asure platform supports a broad spectrum of insurance solutions and products. It
                                will enable individuals, companies and governments to develop, run and maintain their
                                solutions
                                and products on top of it.
                            </p>

                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col-md-6">
                            <h6>Pension insurance</h6>
                            With the conversion to the so-called generation contract, it was possible to set up an
                            insurance
                            system that for the first time made income and contribution-related wage compensation
                            benefits
                            possible in order to secure a livelihood in old age. Another new feature was the regular
                            adjustment
                            of pensions: From then on, pensions were also oriented to current wage developments and
                            enabled
                            pensioners to participate in the productivity progress of the economy.
                            <br/><br/>
                            Spec: AIP100<br/>
                            Github: PoC
                        </div>
                        <div class="col-md-6">
                            <img src="/content/img/generations.jpg" alt="asure pension insurance"
                                 class="img img-responsive img-thumbnail">
                        </div>
                    </div>

                    <br/><br/>
                    <h6>Types of social security:</h6>
                    <div class="row features">
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-blind"></i>
                                    </div>
                                </div>
                                <div class="title">Pension insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-building"></i>
                                    </div>
                                </div>
                                <div class="title">Unemployment insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-band-aid"></i>
                                    </div>
                                </div>
                                <div class="title">Accident insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-ambulance"></i>
                                    </div>
                                </div>
                                <div class="title">Health insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-bed"></i>
                                    </div>
                                </div>
                                <div class="title">Nursing care insurance</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item">
                                <div class="image">
                                    <div style="font-size:3em;" class="gray">
                                        <i class="fa fa-align-justify"></i>
                                    </div>
                                </div>
                                <div class="title">Other insurance</div>
                            </div>
                        </div>
                    </div>


                    <h6>Asure user benefits:</h6>
                    <ul>
                        <li>The German Social security has proven</li>
                        <li>Inflation-proof</li>
                        <li>Financial crises safe</li>
                        <li>Pay-as-you-go system enable to act in line with current salary trends</li>
                        <li>Profit from the productivity progress of the economy</li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="solutions">
            <div class="row">
                <div class="col-md-12">


                </div>
            </div>
        </div>
    </div>
</section>