<section class="blc-team" id="team">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Council</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    The Asure team is a group of insurance and technology experts with decades of
                    experience in the industry. We have worked on cutting-edge blockchain-based
                    projects and projects with focus on artificial intelligence in the context of insurances.
                </div>
            </div>
        </div>
        <div class="row">
            <% if(false){ %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/dmattern-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Dirk Mattern</div>
                    <div class="desc">
                        Organisation Advisor
                        <br/>
                        30+
                    </div>
                </div>
            </div>
            <% } else { %>

            <% } %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ekuceradis-bw.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Emanuel Kuceradis(GB)</div>
                    <div class="desc">
                        Technology Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Emanuel Kuceradis</b> <br/>
                            Emanuel has 20+ years’ experience in financial services sector
                            in BI/BigData projects (UK, US, and China).
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/emanuel-kuceradis-86514566/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/aboehner-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Alexander Böhner (GER)</div>
                    <div class="desc">
                        Insurance Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Alexander Böhner</b> <br/>
                            Alexander is an insurance consultant with 10+ years’ of
                            experience leading engineering teams and developing products and
                            platforms. He worked as Programm Manager at Zurich Insurance SE, Gothar and Signal Iduna.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/alexander-böhner">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mlurz-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Michael Lurz (GER)</div>
                    <div class="desc">
                        Insurance Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Michael Lurz</b> <br/>
                            Michael has 10+ years’ experience in insurance industry, especially in product development
                            (health, legal, automotive, commercial).
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/michael-lurz-4914a7143/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>