<div class="blc-timeline" id="roadmap">
    <div class="container">
        <div class="row example-centered">
            <div class="col-md-12 example-title head">
                <h1 class="title hr">ASURE ROADMAP</h1>
            </div>
            <div class="col-md-10 offset-md-1">
                <ul class="timeline timeline-centered">
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/labs.png" width="64px" height="64px" alt="Labs Research"><br/>
              2014
            </span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Research</h3>
                            <p class="justify">
                                <b>May 2014 - Blockchain Research</b><br/>
                                First research projects in cooperation with University of Applied Sciences and Arts of
                                Dortmund to investigate the possibilities of blockchain for insurance industry
                                and the development of first prototypes.
                                <br/>
                                <br/><b>August 2015 - Artificial Intelligence Research</b><br/>
                                First research projects about Artificial Intelligence, Machine Learning, Big Data, and
                                Predictive Analytics.
                                <br/>
                                <br/><b>November 2016 - AI Kiev Labs</b><br/>
                                Paul Mizel and his team started the development of a prototype for an AI-driven
                                insurance advisor and full-automated chat assistant.
                                He has also built up an office in Kiev and coordinated the efforts as
                                a product manager to further accelerate the development.
                                <br/>
                                <br/><b>April 2017 - Smart Contract Research</b><br/>
                                First research projects on the Ethereum blockchain platform and proof-of-concepts
                                about smart contracts.
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/start.png" width="64px" height="64px" alt="Start"><br/>
              2018</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Phase 1: Asure & Minimum Viable Product</h3>
                            <p class="justify">
                                Paul Mizel, Fabian Raetz, and Gamal Schmuck founded a new company
                                to face new challenges and work on ideas that make the world a better place.
                                With their expertise in the insurance industry, they felt the need for a new type
                                of insurance based on the principles of DAO. Since then they are working on their vision
                                which became Asure.

                                <br/>
                                <br/><b>Jun. 2018 - PoC</b><br/>
                                PoC is done.

                                <br/>
                                <br/><b>Fall 2018 - ICO</b><br/>
                                ICO Pre- and Main Sale.

                                <br/>
                                <br/><b>Fall 2018 - Exchange listing</b><br/>
                                Exchange listings will be available after token-sale.

                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/dev.png" width="64px" height="64px" alt="Development"><br/>
              2019</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Phase 2: Develop platform and Minimum Viable Product</h3>
                            <p class="justify">
                                The first Asure Improvement Proposals (AIPs) are released and the reference
                                implementations of the platform and MVP are uploaded to the Ethereum testnet. The
                                platform can be reviewed by the community and the first improvements can be
                                established around the smart product lifecycle.

                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/launch.png" width="64px" height="64px" alt="Launch"><br/>
              2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Phase 3: Launch platform and grow community</h3>
                            <p class="justify">
                                The platform is also published on the mainnet and the community can implement the first
                                products on the platform.
                                The Asure ecosystem is scaled in development and extended by the relevant tools:
                                AsureScan, AsureWallet, AsureBot, AsureId, AsureClaims.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/ops.png" width="64px" height="64px" alt="Operations"><br/>
              2023+</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Phase 4: Globalisation</h3>
                            <p class="justify">
                                Due to the open and expandable design, the platform and the best
                                products prevail through self-regulation and are widely used by individuals in the
                                mainstream as well as by companies, authorities, and governments worldwide.
                                Asure will become the industry leader in the decentralized autonomous insurance
                                platform.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <blockquote class="blockquote text-center"
                            cite="https://www.goodreads.com/quotes/302999-most-people-overestimate-what-they-can-do-in-one-year">
                    <p class="mb-0">
                        "Most people overestimate what they can do in one year and underestimate what they can do in ten
                        years."
                    </p>
                    <footer class="blockquote-footer"><cite title="Bill Gates">Bill Gates</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>