<section class="blc-token bg-blue">
    <div class="container">
        <div class="head">
            <h1 class="title hr">ASR Token</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        ASR is the utility token used to interact with the Asure platform. The token itself is
                        designed with a deflation mechanism as suggested by <a
                            href="https://vitalik.ca/general/2017/10/17/moe.html">Vitalik Buterin</a>
                        and extended with a compensation mechanism to create a valuable ecosystem.
                    </p>
                    <p>
                        The token pre-sale will start in fall 2018.
                    </p>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="item flip-container">
                        <div class="front">

                            <div class="image">
                                <div style="font-size:3em;" class="gray">
                                    <i class="fa fa-globe"></i>
                                </div>
                            </div>
                            <div class="title">Platform Transactions</div>
                            <div class="desc justify">
                                These ASR Tokens are used throughout the system to facilitate transactions within
                                the decentralized insurance platform.
                            </div>
                            <div class="circle active"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="back">
                            <div class="circle"></div>
                            <div class="circle active"></div>
                            <div class="title">Platform Transactions</div>
                            <div class="desc justify text-small">
                                ASR tokens are used within the platform to participate on the available contracts or to
                                get ahold of reinsurance risks.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="item flip-container">
                        <div class="front">
                            <div class="circle active"></div>
                            <div class="circle"></div>
                            <div class="image">
                                <div style="font-size:3em;" class="gray">
                                    <i class="fa fa-dollar-sign"></i>
                                </div>
                            </div>
                            <div class="title">Rewards</div>
                            <div class="desc justify">
                                Investors can buy risks of others as part of our reinsurance system
                                and get a reward for taking risk.
                            </div>
                        </div>
                        <div class="back">
                            <div class="circle"></div>
                            <div class="circle active"></div>
                            <div class="title">Rewards</div>
                            <div class="desc justify text-small">
                                Reinsurance is a method to backup the insurance pool in case
                                high amounts of claims are submitted. While reducing costs for
                                the insurance holders it generates profit-margins for the reinsurers.
                                <!--The ecosystem will also provide rewards for contributing to it in general.-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="item flip-container">
                        <div class="front">
                            <div class="circle active"></div>
                            <div class="circle"></div>
                            <div class="image">
                                <div style=" font-size:3em;" class="gray">
                                    <i class="fa fa-address-book"></i>
                                </div>
                        </div>
                            <div class="title">ERC20 Compliance</div>
                            <div class="desc justify">
                                Tokens must be maintained in an ERC20 compliant
                                Ethereum wallet to take advantage of the rewards..
                            </div>
                        </div>
                        <div class="back">
                            <div class="circle"></div>
                            <div class="circle active"></div>
                        <div class="title">ERC20 Compliance</div>
                            <div class="desc justify text-small">
                            We are building up our standards on the highly valued ERC20 token specification
                            to create a robust and long-living ecosystem.
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="item flip-container">
                        <div class="front">
                            <div class="circle active"></div>
                            <div class="circle"></div>
                            <div class="image">
                                <div style="font-size:3em;" class="gray">
                                    <i class="fa fa-exchange-alt"></i>
                                </div>
                            </div>
                            <div class="title">Tradable</div>
                            <div class="desc justify">
                                Example wallets include MyEtherWallet, Mist, and Parity.
                                ASR will be tradable on several exchanges.
                            </div>
                        </div>
                        <div class="back">
                            <div class="circle"></div>
                            <div class="circle active"></div>
                            <div class="title">Tradable</div>
                            <div class="desc justify text-small">
                                The ASR utility token will be tradable on different exchanges, in many different
                                countries to reach a high density of global availability.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>