<div class="blc-whitepaper">
    <div class="container">
        <div class="whitepaper">
            <div class="title">Read more.</div>
            <div class="controls">
                <div class="row">
                    <div class="offset-lg-3 col-lg-3">
                        <a href="/asure_io_whitepaper_en.pdf" class="btn btn-primary btn-block" target="_blank">Whitepaper</a>
                    </div>
                    <!--<div class="col-lg-2">
                        <a href="#" class="btn btn-primary disabled btn-block">OnePager</a>
                    </div>-->
                    <div class="col-lg-3">
                        <a href="#" class="btn btn-primary disabled btn-block">Presentation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>